#stat-box
{
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;

    border-top: none;
    border-left: none;
/*    border: 1px solid #CECDCA;

    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);*/
    z-index: 200;
    width: 100%;
}
#stat-box:last-child {
    margin-bottom: 0px;
}
.number-box
{
    background: transparent; 
    display: inline-block;
    width: 31%;
    padding-top: 15px
}
.number-box span
{
    text-align: center;
    padding: 20px;
    padding-bottom: 15px;
    color: #111;
    display: block;
    font-size: 16px;
    padding-top: 6px; 
}

.varation-header
{
    font-size: 19px;
    font-weight: bold;
    background-color: #e0e0e0;
    border-color: #CECDCA;
    padding: 8px 5px;
    border-bottom: 1px solid #CECDCA;
    border-top: 1px solid #CECDCA;
}

.stat-control-container
{
    text-align: center;
    padding: 5px;
}

.variation-row
{
    display: block;
}

.stat-letter
{
    background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
}

.notes
{
    float: right;
    font-size: 12px;
    font-weight: normal;
}

.number-box span.stat-id{
    line-height: 1;
    font-size: 9px;
    font-weight: normal;
    display: block;
    padding: 0px;
    letter-spacing: 0.15px;
    color: #333333
}

.rate
{
    font-size: 9px !important;
}