/* CSS for Landing Page List */
#stats {
    width: 270px;
}

#thumbnail-lander {
    width: 162px;
}
#lp-tour {
    margin-left: 10px;
}
#title {
    width: 255px;
}

#impressions, #cr, #actions {
    width: 99px;
    text-align: center;
}

#cr {
    width: 120px;
}

#cb {
    width: 20px;
}

.clear_stats {
    color: red;
}

.hover-description {
    display: block;
    color: grey;
    font-size: 10px;
    font-style: italic;
}

.lp-pop-description {
    padding: 10px;
    padding-left: 4px;
    padding-top: 6px;
}

.lp-bottom-controls {
    margin-left: 12px;
    color: red;
    font-size: 12px;
    margin-right: 8px;
}

.lp-delete-var-stats {
    display: inline-block;
}

.lp-pop-description {
    display: block;
    max-width: 325px;
}

.lp-pop-close {
    font-size: 11px;
    position: absolute;
    font-weight: 100;
    right: 10px;
    top: 3px;
}

.winner-lp {
    background-color: #E2FFC9;
}

.lp-pop-edit a {
    color: #fff;
}

.lp-extra {
    margin-left: 10px;
}

.lp-win {
    color: green;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.lp-paused {
    color: red;
    font-size: 12px;
}

.lp-pop-controls {
    display: inline-block;
    margin-top: 8px;
}

.lp-pop-edit {
    display: inline-block !important;
    margin-right: 11px !important;
    margin-left: 5px !important;
}

.lp-pop-preview a, .lp-pop-edit a {
    text-decoration: none;
}


.stats li {
    border-bottom: 1px solid #EBEBEA;
    padding: 6px 20px;
    margin: 0;
    font-size: 13px;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
}

.stats li:hover {
    background: #e0e0e0;
}

.wp-list-table td.stats .show-stats, .show-stats, .variation-winner-is {
    display: none;
}

.wp-list-table td.stats .show-stats {
    margin-top: 10px;
    padding-top: 0px;
    margin-left: 4px;
    position: absolute;
}

td.stats.column-stats {
    border: 1px solid #EBEBEA;

}

.wp-list-table td.stats {
    padding-left: 0px;
    padding-right: 0px;
}

.lp-current-winner {
    background-color: rgb(226, 255, 201);
}

#impressions span, #cr span, #actions span {
    text-align: center;
    float: none;
}

.lp-varation-stat-ul {
    min-width: 270px;
}

.status-0 {
    background-color: #F9DBDB !important;
    font-weight: normal;
    color: rgb(117, 117, 117) !important;
}

.wp-list-table td.impressions, .wp-list-table td.actions, .wp-list-table td.cr {
    font-size: 18px;
    color: #000;
    margin: 0;
    text-align: center;
    padding-top: 15px;
    border-right: 1px solid #EBEBEA;
}

.wp-list-table td.cr {
}

.row-title {
    font-size: 15px !important;
    margin-top: 2px !important;
    display: inline-block;
}

.wp-list-table td.actions {
}

.post-state .states {
    font-size: 10px;
    padding: 3px 8px 3px 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.post-state .password {
    background: #000;
    color: #fff;
}

.post-state .pending {
    background: #83CF21 !important;
    color: #fff;
}

.post-state .private {
    background: #E0A21B;
    color: #fff;
}

.post-state .draft {
    background: #006699;
    color: #fff;
}

#hide-stats, .show-stats-top {
    color: #21759b;
    font-size: 9px;
    padding-left: 10px;
}

.stats li:last-child {
    //border-bottom: none;
}

.no-stats-yet {
    padding-left: 7px;
    padding-top: 6px;
    color: #777;
    font-size: 11px;
    display: none;
}

.widefat td.stats {
    border-top: none;
    padding-top: 0px;
}

.widefat td.stats ul {
    font-size: 12px;
    border-top: none;
    width: 100%;
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline-block;
    margin-top: 0px;
}

.lp-numbers {
    font-size: 13px;
    min-width: 199px;
    display: inline-block;
} 

.introjs-showElement .row-actions {
    visibility: visible;
}

.stats li:last-child:not(:first-child) {
    border-bottom: none;
}

.lp-impress-num {
    display: inline-block;
    text-align: center;
    min-width: 30px;
    padding-right: 5px;
    padding-left: 5px;
}

.lp-no-stats {
    display: inline-block;
    padding-left: 10px;
    color: #ccc;
}

.lp-impress-num, .lp-con-num, .cr-number {
    font-weight: bold;
    font-size: 19px;
}

.visit-text {
    display: inline-block;
    min-width: 60px;
}

.lp-con-num {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

.lp-letter, .cr-number, .cr-number.cr-empty-0 {
    display: inline-block;

    font-size: 20px;
    min-width: 16px;
    min-height: 20px;
    border-radius: 3px;
    background: #f3f3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
    background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
    background-image: -o-linear-gradient(top, #fefefe, #f4f4f4);
    background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    font-family: sans-serif;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    padding-left: 4px;
    text-align: center;
    padding-right: 5px;
    padding-top: 6px;
    margin-right: 5px;
}

.cr-number {
    margin-left: 5px;
    padding-left: 5px;
    background-color: #21759b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
    background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
    background-image: -moz-linear-gradient(top, #2a95c5, #21759b);
    background-image: -ms-linear-gradient(top, #2a95c5, #21759b);
    background-image: -o-linear-gradient(top, #2a95c5, #21759b);
    background-image: linear-gradient(to bottom, #2a95c5, #21759b);
    border-color: #21759b;
    border-bottom-color: #1e6a8d;
    -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-weight: normal;
    margin-right: 0px !important;
}

.cr-number.cr-empty-0 {
    font-weight: normal !important;
    color: #ccc;
    box-shadow: none;
    -webkit-box-shadow: none;
}

a.cr-number:hover {
    background-color: #278ab7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2e9fd2), to(#21759b));
    background-image: -webkit-linear-gradient(top, #2e9fd2, #21759b);
    background-image: -moz-linear-gradient(top, #2e9fd2, #21759b);
    background-image: -ms-linear-gradient(top, #2e9fd2, #21759b);
    background-image: -o-linear-gradient(top, #2e9fd2, #21759b);
    background-image: linear-gradient(to bottom, #2e9fd2, #21759b);
    border-color: #1b607f;
    -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}


/* New Variation Testing Stat Design by Ahmed Kaludi (AhmedKaludi.com) START */
.lp-varation-stat-ul{
    font-family: "Open Sans",sans-serif;
}
.lp-varation-stat-ul li{
    padding: 0;
}
.lp-varation-stat-ul li .lp-letter{
    background: #fff;
    border: 0;
    border-radius: 0;
    margin-right: 0;
    font-weight: 300;
    font-size: 20px;
    padding: 22px 16px;
    line-height: 1;
    color: #666666
}
.column-stats{
    padding: 0px !important
}
.lp-varation-stat-ul .winner-lp{
    background: #F9FFF4 !important
}
.lp-varation-stat-ul .winner-lp .lp-letter{
    background: #15dd6f;
    color: #fff;
    font-weight: 300
}
.lp-varation-stat-ul .visit-text,
.lp-varation-stat-ul .lp-conversion-txt{
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #777;
}
.lp-varation-stat-ul .lp-impress-num,
.lp-varation-stat-ul .lp-con-num{
    width: 100%;
    text-align: center;
    padding: 0;
}
.lp-varation-stat-ul .lp-visitors,
.lp-varation-stat-ul .lp-conversions{
    width: 81px;
    display: inline-block;
    text-align: center;    
}
.visit-text, .lp-conversion-txt{
    text-transform: uppercase;
    font-size: 10px;
    color: #333333;
    letter-spacing: 0.6px;
}
.lp-varation-stat-ul .lp-impress-num,
.lp-varation-stat-ul .lp-con-num{
    font-size: 16px;
    color: #000;
    font-weight: normal;
}
.lp-varation-stat-ul .lp-numbers{
    min-width: 140px;
    position: absolute;
    margin-top: 12px;
}
.lp-varation-stat-ul .cr-number.cr-empty-0,
.lp-varation-stat-ul .cr-number.cr-empty-0:hover{
    text-align: center;
    width: 42px;
    float: right;
    background: none;
    border: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    text-shadow: none;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    padding-right: 10px;
}
.lp-varation-stat-ul .cr-number, .lp-varation-stat-ul .cr-number:hover{    
    background: none;
    border: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    color: #555555;
    text-shadow: none;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    padding-right: 10px;
}
.lp-varation-stat-ul .winner-lp .cr-number{
    color: #333
}
.lp-varation-stat-ul .cr-number{
    text-align: center;
    width: 45px;
    float: right;
    margin-top: 16px;
    padding-right: 10px; 
}
.lp-varation-stat-ul .cr-number:before{
    content: "";
    background: url('../../images/variation-normal.png') no-repeat;
    padding: 7px 15px 3px 8px;
    display: inline-block;
    text-align: center;
    background-position: 0px 1px;
}
.lp-varation-stat-ul .winner-lp .cr-number:before{
        background-position: 0px 1px;
    padding: 7px 10px 8px 10px;
        background: url('../../images/variation-up.png') no-repeat;
}
 .column-stats{
    padding: 0
}

body .alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd) {
    background-color:#ffffff !important; 
}
body #the-list td {
    border-bottom: 1px solid #EBEBEA;
}
/* New Variation Testing Stat Design by Ahmed Kaludi (AhmedKaludi.com) END */


