.gitignore
.tx
.travis.yml

*.exe
*.bat
*.ini
*.bat



# Node
npm-debug.log
node_modules

# Grunt
Gruntfile.js

#core
core/landing-pages/shared
core/landing-pages/tests
core/cta/shared
core/cta/tests
core/leads/shared
core/leads/tests
core/inbound-mailer/shared
core/inbound-mailer/tests
core/inbound-automation/shared
core/inbound-automation/tests

#assets
assets/libraries/ink/img
assets/libraries/ink/js
assets/images/downloads_src

#composer
vendor
bin
core/leads/.idea/
**/.idea/
**/.idea/inspectionProfiles


/core/landing-pages/codecept.phar

/core/landing-pages/*.jpg
/core/landing-pages/node_modules/
/core/landing-pages/shared/
/core/landing-pages/*.jpg
/core/landing-pages/*.js
/core/landing-pages/*.sh
/core/landing-pages/*.json
/core/landing-pages/*.phar
/core/landing-pages/*.ini
/core/landing-pages/*.png
/core/landing-pages/*.travis.yml
/core/landing-pages/*.dist
/core/landing-pages/*.md
/core/landing-pages/*.txt

/core/leads/*.jpg
/core/leads/node_modules/
/core/leads/shared/
/core/leads/*.jpg
/core/leads/*.js
/core/leads/*.sh
/core/leads/*.json
/core/leads/*.phar
/core/leads/*.ini
/core/leads/*.png
/core/leads/*.travis.yml
/core/leads/*.dist
/core/leads/*.md
/core/leads/*.txt

/core/landing-pages/screenshot-1.jpg

/core/landing-pages/phpunit.xml.dist
/core/landing-pages/package.json

/core/landing-pages/readme.txt
/core/landing-pages/README.md
