.gitignore
.tx
.travis.yml

*.exe
*.bat
*.ini
*.bat



# Node
npm-debug.log
node_modules

# Grunt
Gruntfile.js

#core
core/landing-pages/shared
core/landing-pages/tests
core/cta/shared
core/cta/tests
core/leads/shared
core/leads/tests
core/inbound-mailer/shared
core/inbound-mailer/tests
core/inbound-automation/shared
core/inbound-automation/tests

#assets
assets/libraries/ink/img
assets/libraries/ink/js
assets/images/downloads_src

#composer
vendor
bin
core/leads/.idea/
**/.idea/
**/.idea/inspectionProfiles

