/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	background: #fff;
	color: #2c2c2c;
	font-size: 0.75em; /* 12px */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
}

img {
	vertical-align: middle;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	padding: 0.2em 0;
	background: #ccc;
	color: #000;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
	margin: 0 auto;

}
.topwrapper {
	margin: 0 auto;

}
#headerwrap {
	margin: 0 auto;
	width: 940px;
}
.bottomwrap {
	margin: 0 auto;
	width: 940px;
}
.lp-form-area {
margin: 0 auto;
	width: 380px;
}
header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 25px;
	height: 85px;
}

header h1, .tagline {
	display: inline-block;
}

header h1 {
	margin: 0;
}

header h1 img {
	vertical-align: top;
}

header a {
	color: #2c2c2c;
	text-decoration: none;
	font-weight: bold;
	margin-right: 10px;
}

.tagline {
	color: #949494;
}

.logo {
	float: left;
}

.middle-background {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 50px;
	width: 100%;
	height: 495px;
	background: url('../img/bg.jpg') no-repeat;
	background-size: 100% 100%;
}

body .one .bsa_it_ad { background: transparent; padding: 10px !important; border-radius: 5px; border: none;font-family: inherit; padding: 0 15px 0 10px; margin: 0; text-align: left; position: absolute; top: 40px; left: -50px; width: 130px; -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;}
body .one .bsa_it_ad:hover { left: 10px;}
body .one .bsa_it_ad .bsa_it_i { display: block; padding: 0; float: none; margin: 0 0 5px; }
body .one .bsa_it_ad .bsa_it_i img { padding: 0; border: none; }
body .one .bsa_it_ad .bsa_it_t { padding: 6px 0; color: #eff2f7;}
body .one .bsa_it_ad .bsa_it_d { padding: 0; font-size: 12px; color: #eff2f7; }
body .one .bsa_it_p { display: none; }
body #bsap_aplink, body #bsap_aplink:hover { display: block; font-size: 10px; margin: 12px 15px 0; text-align: right; }

.touch .one .bsa_it_ad { display: none; }

#headline-area {
	margin: 0 auto;
	background-color: transparent;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
}

#headline-area input[type="file"] {
	height: 100%;
	cursor: pointer;
}

#headline-area p {
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
}
#headline-area h1 {
	padding-top: 15px;
	font-size: 3.1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	max-width: 940px;
	text-align: center;
	margin: auto;
}
#headline-area p.success {
	padding-top: 0;
	font-size: 2.142em;
	font-family: 'Open Sans', sans-serif;
}

.lp-form-area button {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 320px;
	height: 46px;
	border: solid 1px #092d5b;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #1956ad;
	background-image: -webkit-linear-gradient(bottom, #1956ad, #246bd4);
	background-image: -moz-linear-gradient(bottom, #1956ad, #246bd4);
	background-image: -o-linear-gradient(bottom, #1956ad, #246bd4);
	background-image: -ms-linear-gradient(bottom, #1956ad, #246bd4);
	background-image: linear-gradient(to top, #1956ad, #246bd4);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.75), inset 0 1px #679ee3;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.75), inset 0 1px #679ee3;
	box-shadow: 0 0 3px rgba(0,0,0,.75), inset 0 1px #679ee3;
	color: #fff;
	text-shadow: 0 1px #092d5b;
}
.lp-form-area button:hover {
	background-image: -webkit-linear-gradient(bottom, #3b6fba, #4581da);
	background-image: -moz-linear-gradient(bottom, #3b6fba, #4581da);
	background-image: -o-linear-gradient(bottom, #3b6fba, #4581da);
	background-image: -ms-linear-gradient(bottom, #3b6fba, #4581da);
	background-image: linear-gradient(to top, #3b6fba, #4581da); 
}

.lp-form-area button:active {
	background-image: -moz-linear-gradient(top,#014488 0,#175EA6 100%);
	background-image: -ms-linear-gradient(top,#014488 0,#175EA6 100%);
	background-image: -o-linear-gradient(top,#014488 0,#175EA6 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#014488),color-stop(100%,#175EA6));
	background-image: -webkit-linear-gradient(top,#014488 0,#175EA6 100%);
	background-image: linear-gradient(to bottom,#014488 0,#175EA6 100%);
}

.lp-form-area img {
	margin-right: 10px;
	vertical-align: top;
}

.lp-form-area p {
	color: #9ca2a6;
	text-align: center;
}

.lp-form-area strong {
	padding-right: 15px;
	color: #353a41;
}

.copy {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 70px;
	height: 100px;
	color: #fff;
	text-align: center;
	font-size: 2.142em;
	font-family: "Open Sans", sans-serif;
	cursor: pointer;
}
#top-right-area ul {display: inline;}
#top-right-area li {display: inline; list-style: none; float: right;}
.wrap {
	position: relative;
	display: inline-block;
	width: 313px;
	text-align: center;
}

.wrap:last-child {
	margin-right: 0;
}


.share {
	text-align: center;
}

.share h2 {
	padding-top: 37px;
	margin: 0px;
	color: #222729;
	font-size: 2.285em;
	font-family: 'Open Sans', sans-serif;
}

.fb-like {
	vertical-align: top;
}
#middle-area {padding-bottom: 40px;}
footer {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 25px;
	width: 100%;
	height: 85px;
	background-color: #161209;
	color: #949494;
}

.footer-text {
	float: left;
}

.footer-text .count {
	margin-right: 10px;
	color: #fff;
	vertical-align: middle;
	letter-spacing: 10px;
	font-weight: bold;
	font-size: 14px;
}

.tag-line-area {
	float: right;
}

.tag-line-area a {
	color: #949494;
	text-decoration: none;
}

.mobile {
	display: none;
}

.mobile-share {
	display: none;
}

.mobile-footer {
	display: none;
}

.top-right-area {
	float: right;
padding-top: 13px;
height: 40px;
overflow: hidden;
}
.touch #top-right-area {
	display: none;
}

#top-right-area {
	padding-top: 2px;
	height: 670px;
	color: white;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
}

#top-right-area a {
	color: #f65732;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	overflow: hidden;
	/* IE 6/7 fallback */
	border: 0;
	background-color: transparent;
	*text-indent: -9999px;
}

.ir:before {
	display: block;
	width: 0;
	height: 100%;
	content: "";
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	position: static;
	overflow: visible;
	clip: auto;
	margin: 0;
	width: auto;
	height: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	display: table; /* 2 */
	content: " "; /* 1 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}


/* Landing page form styles */
input[type="text"], input[type="email"] {
width: 97%;
padding: 8px 4px 8px 10px;
margin-bottom: 15px;
border: 1px solid #4E3043;
border: 1px solid rgba(78, 48, 67, 0.8);
background: rgba(0, 0, 0, 0.15);
border-radius: 2px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
font-family: 'Raleway', 'Lato', Arial, sans-serif;
color: white;
font-size: 13px;
}
input[type="submit"] {
width: 100%;
padding: 8px 5px;
background: #634056;
background: -moz-linear-gradient(rgba(99, 64, 86, 1), rgba(76, 49, 65, 1));
background: -ms-linear-gradient(rgba(99, 64, 86, 1), rgba(76, 49, 65, 1));
background: -o-linear-gradient(rgba(99, 64, 86, 1), rgba(76, 49, 65, 1));
background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99, 64, 86, 1)), to(rgba(76, 49, 65, 1)));
background: -webkit-linear-gradient(rgba(99, 64, 86, 1), rgba(76, 49, 65, 1));
background: linear-gradient(rgba(99, 64, 86, 1), rgba(76, 49, 65, 1));
border-radius: 5px;
border: 1px solid #4E3043;
box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 2px 1px rgba(0, 0, 0, 0.1);
cursor: pointer;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
font-size: 22px;
font-weight: bold;
font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

/* custom css */
p, .lp-span, label {font-size: 17px;}
.lp-span {text-transform: none; display: block; margin-bottom: 8px;}
.lp-input-label .lp-span {
  display: inline;
  color:red;
}
