/*
Item Name : Circular Countdown jQuery Plugin
Author URI : http://codecanyon.net/user/Pixelworkshop/
Version : 1.0
*/



/*

Page styling (optionnal)

*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:21px;
	color:#888888;
	text-shadow:1px 1px 1px #FFFFFF;
	background: url("../img/groovepaper.png") repeat;
	padding-bottom: 1px;
}




/*  _______________________________________

	COUNTDOWN
    _______________________________________  */



/*
   IMPORTANT
   The exact same width must be set to the #countdown_container and to the canvas
   element #circular_countdown in the HTML markup !
*/

#countdown_container {
	width: 800px;
	margin: 0 auto;
	display: block;
	/*
	Additional styling
	*/
	padding: 40px;
	margin: 80px auto;
	border-radius:6px;
	background:#ffffff;
	background:rgba(255,255,255,0.6);
	border:1px solid #dddddd;
	border:1px solid rgba(255,255,255,0.6);
	box-shadow:0 2px 12px #DDDDDD;
}
#countdown_container h1 {

	font-size:28px;
	font-weight: normal;

	text-align:center;
	line-height:36px;
	margin:0 auto 42px auto;
	text-align:center;
}

#countdown_timer,
#countdown_timer ul,
#circular_countdown {
	position: relative;
	width:100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
#countdown_clock {
	position:relative;
	z-index:1;
	margin: 0;
	padding:0;
}
#countdown_timer {
	z-index:2;
}
	#countdown_timer li {
		list-style: none;
		padding: 18px 0 8px 0;
		margin-top: 42px;
		float: left;
		width: 20%;
		color:#333333;
		font-size: 9px;
		position: absolute;
		text-align: center;
		text-transform:uppercase;
	}
		#countdown_timer li.days {
			left:0;
		}
		#countdown_timer li.hours {
			left:26.667%;
		}
		#countdown_timer li.minutes {
			left:53.334%;
		}
		#countdown_timer li.seconds {
			left:80%;
		}
		#countdown_timer li em {
			display: block;
			font-size:32px;
			line-height:30px;
			font-weight:bold;
			font-style: normal;
			padding:0;
		}

/*
Markup to keep a decent layout under IE8 and below
*/

/* IE8 */

@media \0screen {
	#countdown_timer {
		height: 130px;
	}
	#countdown_container h1 {
		margin:0 auto;
	}
}

/* IE7 and below */

#countdown_timer {
	*height: 130px;
}
#countdown_container h1 {
	*margin:0 auto;
}
#content-area {text-align: center;}

.lp-form {
    width: 360px;
margin-right: 25%;
margin-left: 23%;
}
.lp_form_field {
    margin-bottom: 5px;
}
.lp-input-label {
    min-width: 100px;
    display: inline-block;
}
.textField {
width: 72%;
display: inline-block;
overflow: hidden;
border: 1px solid #505a68;
background: #798493;
font-weight: bold;
padding: 0.5em;
-webkit-border-radius: 2em;
-moz-border-radius: 2em;
border-radius: 2em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-moz-box-shadow: 0 1px 1px rgba(255,255,255,0.36);
-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.36);
box-shadow: 0 1px 1px rgba(255,255,255,0.36);
}#countdown_container { padding-bottom: 60px;}
/* Landing page form styles */
input[type="text"], input[type="email"] {
width: 100%;
padding: 8px 4px 8px 10px;
margin-bottom: 15px;
border: 1px solid #4E3043;
border: 1px solid rgba(78, 48, 67, 0.8);
background: rgba(0, 0, 0, 0.15);
border-radius: 2px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
font-family: 'Raleway', 'Lato', Arial, sans-serif;
color: white;
font-size: 13px;
}
input[type="submit"] {
width: 100%;

padding: 8px 5px;
background: #634056;
background: -moz-linear-gradient(rgba(99, 64, 86, 1), rgba(76, 49, 65, 1));
background: -ms-linear-gradient(rgba(99, 64, 86, 1), rgba(76, 49, 65, 1));
background: -o-linear-gradient(rgba(99, 64, 86, 1), rgba(76, 49, 65, 1));
background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99, 64, 86, 1)), to(rgba(76, 49, 65, 1)));
background: -webkit-linear-gradient(rgba(99, 64, 86, 1), rgba(76, 49, 65, 1));
background: linear-gradient(rgba(99, 64, 86, 1), rgba(76, 49, 65, 1));
border-radius: 5px;
border: 1px solid #4E3043;
box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 2px 1px rgba(0, 0, 0, 0.1);
cursor: pointer;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
font-size: 22px;
font-weight: bold;
font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

/* custom css */
p, .lp-span, label {font-size: 17px;}
.lp-span {text-transform: none; display: block; margin-bottom: 8px;}
.lp-input-label .lp-span {
  display: inline;
  color:red;
}
:focus {
outline: none;
}
.lp_container {margin-bottom: 20px;}