#wpadminbar, #adminmenuwrap, #adminmenuback, #screen-options-link-wrap, #launch-feedback  {
	display: none !important;
}
.wrap h2 {
	visibility: hidden;
}
.wrap #post h2 {
	visibility: inherit;
}
#post {
	margin-top: -50px;
}
#wpcontent, #wpfooter {
margin-left: 20px !important;
}
#wplead_metabox_main .wpl-tab-display {
overflow: hidden !important;
}
#view-lead-in-new-window {
	font-size: 10px;
	text-decoration: none;
	float:right;
}
.update-nag {
  display: none !important;
}
#notice {
	display:none;
}

body  #postbox-container-1 {
	margin-top:0px;
}

.wrap  {
	padding-top:20px;
}
.wrap h1 {
	display:none;
}

body .wp-heading-inline,body .page-title-action {
	display:none !important;
}