.row-actions .edit, .row-actions .trash {
    font-size: 0px;
    margin-right: 5px;
}

#lead-picture {
    width: 55px;
}

.tablenav .actions select#wplead_list_category {
    max-width: 110px;
}

.tablenav .actions select#lead-tags {
    max-width: 105px;
}

select[name='seo_filter'] {
    display: none;
}

.lead-grav-img {
    margin-right: 10px;
    background: #FCFDFE;
    border: 1px solid #E0E0E0;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.lead_meta_val {
    display: none;
}

#add-to-this {
    float: left;
    display: inline-block;
    vertical-align: bottom;
    padding-top: 5px;
    padding-right: 5px;
}

.left-float-filter {
    float: left;
    display: inline-block;
    clear: both;
    padding: 6px;
    padding-left: 0px;
    padding-top: 9px;
    font-size: 18px;
    font-weight: 300;
}

.subsubsub {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    margin-bottom: 10px;
    padding-top: 2px;
}

.row-actions {
    position: relative;
    width: 500px;
    margin-top: 3px;
}

.tablenav .actions {
    overflow: hidden;
    padding: 2px 8px 0 0;
    padding-right: 0px;
}

td.first-name {
    overflow: visible;
    font-size: 17px;
    padding-top: 8px;
}

td.last-name {
    font-size: 17px;
    padding-top: 8px;
}

#cb {
    width: 30px;
}

#conversion-count {
    width: 77px;
    text-align: center;
}

#page-views {
    width: 73px;
    text-align: center;
}

.wp-list-table td.page-views {
    color: #000;
    margin: 0;
    text-align: center;
}


.row-actions .mark-read ,.row-actions  .mark-unread ,.row-actions .stop-waiting-for-optin {
    font-size: 14px;
    padding: 0px 5px;
    color: #fff;
    border: 0;
    box-shadow: none;
}

.edit a, .clone a, .mark-read, .mark-unread  {
    margin-right: 5px !important;
}

.clone a:hover {
    color: #000;
}

.row-actions .mark-read , .row-actions .mark-read:hover {
    background: green;
    padding: 0px 5px;
    color:#fff;
}

.row-actions .mark-unread, .row-actions .mark-unread:hover{
    background: darkcyan;
    color:#fff;
}

.row-actions .stop-waiting-for-optin, .row-actions .stop-waiting-for-optin:hover{
    background: #6495ED;
    padding: 0px 5px; 
    color:#fff;
    display: none;
    font-size: 12px !important;
}

.row-actions .trash a {
    background: #2ea2cc;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, .5), 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, .5), 0 1px 0 rgba(0, 0, 0, .15);
    color: #fff;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    line-height: 26px;
    height: 28px;
    margin: 0;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 14px !important;
    font-weight: bold;
    padding: 0px 10px !important;
    margin-right: 5px !important;
    text-shadow: none;
    word-wrap: break-word;
    outline: 0;
    font-family: inherit;
    border-spacing: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}

 .wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, .6);
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, .6);
    color: #fff;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row-actions .trash a {
    color: #fff !important;
}

.row-actions .trash a {
    background: #fc5a5a !important;
    border-color: #fc5a5a !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(242, 45, 58, 0.5), 0 1px 0 rgba(242, 45, 58, 0.15) !important;
    box-shadow: inset 0 1px 0 rgba(242, 45, 58, 0.5), 0 1px 0 rgba(242, 45, 58, 0.15) !important;
}

.row-actions .trash a:hover {
    border-color: #fc5a5a !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(242, 45, 58, 0.5), 0 1px 0 rgba(242, 45, 58, 0.15) !important;
    box-shadow: inset 0 1px 0 rgba(242, 45, 58, 0.5), 0 1px 0 rgba(242, 45, 58, 0.15) !important;
}

.clone a {
    font-size: 14px;
    background-color: #f4f4f4;
    border-color: #ccc;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
    color: #666;
    text-shadow: none;
}


.lead-status-pill {
    border-radius: 3px;
    width: auto;
    vertical-align: top;
    display: inline-block;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:3px;
    background:#46b8da;
    color:#fff;
}

.lead-status-Read {
    color:#fff;
    background: #27ae60 !important;
    margin-right: 1em;
}


.lead-status-New-Lead {
    color:#fff;
    background: #f0ad4e !important;
    margin-right: 1em;
}

@media (min-width: 100px ) and (max-width: 1280px ) {

    .manage-column {
        font-size:10px;
    }

    .type-wp-lead {
        height: 140px;
    }
/* UI Improvements by Ahmed Kaludi ( http://AhmedKaludi.com ) */
    .type-wp-lead .first-name .row-actions {
        display: inline-block;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }
    .type-wp-lead .first-name .row-actions a {
    font-size: 12px !important;
    padding: 6px 10px !important;
    line-height: 1;
    height: auto;
    text-shadow: none;
    border: 0;
    box-shadow: none !important;
    font-weight: normal;
    }
    .type-wp-lead .first-name .button-primary:active{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); 
    }
    .type-wp-lead .mark-read{
        margin-bottom: 7px;
        font-size: 12px;
        height: auto;
    }


}
