#titlediv #title, #lp-notes-area input {
background-color: #f1f1f1;
border: solid 1px #dfdfdf;
box-shadow: none;
}

#wpbody-content {
	overflow: visible !important;
}
h2#convert-header {
	margin-bottom: 0px;
}
.quicktags-toolbar, .wp_themeSkin tr.mceFirst td.mceToolbar {
	height: 38px;
}
.mceIframeContainer.mceFirst.mceLast iframe{
	height: 335px !important;
}
#lp-notes-area input {
	width: 100%;
	color: #AAAAAA;
	padding-top: 7px;
}
#local-storage-notice {
	display: none !important;
}
#lp-notes-area input:focus{
	color: #000;
}
#date-picking span {
	vertical-align: bottom;
}
#template-display-options .hndle {
	background-color: transparent;
	background-image: none !important;
}
#titlediv #title:focus, #lp-notes-area input:focus{
  border: solid 1px #dfdfdf;
}
.select2-container {
min-width: 320px;
}
.lp-delete-var-stats, .lp-clear-success {
	color: red;
	opacity: .7;
	font-size: 9px;
	float: right;
	font-weight: normal;
}

.lp-clear-success{
	color: green;
}

#post-body-content .a_b_tabs {
	padding: 0px;
	margin-bottom: 9px;
	margin-left: -22px;
	padding-left: 22px;
	margin-top: 5px;
	margin-right: -20px;
	position: relative;
}

#wp-landing-page-myeditor-wrap #landing-page-myeditor_path_row {
	display: none;
}

#wp-landing-page-myeditor-wrap #wp-landing-page-myeditor-editor-container {
	min-height: 200px;
}

#adminmenu .wp-menu-arrow div {
	left: -2px;
}

#add-lp-notes {
	display: none;
	vertical-align: middle;
	font-weight: 600;
	padding-right: 2px;
}

.add-new-h2, #lp-current-view, #switch-lp, #preview-action {
  display: none;
}

#lp-notes-area {
	position: relative;
}

#post-body-content #main-title-area {
	margin-top: 5px;
	margin-bottom: 15px;
	position: relative;
}

#main-title-area .button-primary.new-save-lp {
	position: absolute !important;
	top: 1px !important;
	font-size: 17px !important;
	padding-top: 3px !important;
	right: 0px !important;
	height: 31px !important;
	width: 70px !important;
}
#lp-notes-area .button-primary.new-save-lp {
	position: absolute !important;
	top: 0px !important;
	font-size: 14px !important;
	padding-top: 0px !important;
	right: 0px !important;
	height: 24px !important;
	width: 66px !important;
}
#main-title-area .lp-success-message, #lp-notes-area .lp-success-message {
	position: absolute !important;
	top: 1px !important;
	font-size: 11px !important;
	padding-top: 3px !important;
	right: 0px !important;
	height: 17px !important;
	vertical-align: middle;
	margin-top: 0px;
	padding-bottom: 0px;
}

#main-title-area .button-primary.new-save-lp {
	padding-top: 6px !important;
}

#main-title-area .lp-success-message {
	margin-top: 4px;
}
#post-body .new-save-lp-frontend {
	font-weight: 200;
	top: 2px;
	font-size: 14px;
	margin-left: 21px;
	line-height: 28px;
	height: 30px;
	float:right;
	margin-right:19px;
}
@media screen and (max-width: 782px) {
#launch-visual-editer {
display: none;
}
}