#wpadminbar, #edit-slug-box, #post-status-info, #screen-options-link-wrap, #leads-table-container, .misc-pub-section, #minor-publishing, .misc-pub-section, .misc-pub-section.curtime, #delete-action, #convert-header, #lp-tour, #view-post-btn, #launch-visual-editer, #adminmenuwrap, #lp_ab_display_stats_metabox, #lp-thumbnail-sidebar-preview, #landing_page_categorydiv, #postimagediv, #leads-table-container-inside, .updated.below-h2 a, .mceButton.mceButtonEnabled.mce_fullscreen, .mce_strikethrough, .mce_wp_more, #setting-error-tgmpa  {
	display: none !important;
}
html.wp-toolbar {
	padding-top: 0px !important;
}
.auto-fold #adminmenuback, .auto-fold #adminmenuwrap, .auto-fold #adminmenu, .auto-fold #adminmenu li.menu-top {
	width: 0px !important;
}
.auto-fold #wpcontent, .auto-fold #wpfooter {
margin-left: 10px !important;
}
#wpbody-content {
padding-bottom: 90px !important;
width: 100% !important;
}

.wp_themeSkin .mceButton {
display: block;
width: 20px !important;
height: 20px !important;
}
.quicktags-toolbar input {
	min-width: 10px !important;
	padding: 2px 2px !important;
}
#post-body-content {
width: 103% !important;
margin-left: -10px !important; }
#lp_2_form_content {
	margin-left: -10px !important;
}
.inbound-textarea-row .inbound-meta-box-option.inbound-textarea-option textarea {
width: 90% !important;
}
.wp_themeSkin .mceButton .mceIcon {
margin-top: 0px !important;
margin-left: 0px !important;
}
#inbound-meta .inbound-meta-box-row.inbound-wysiwyg-row {
	width: 105%;
	margin-left: -6px;
}

@media screen and (max-width: 600px) {
.version-3-8 #wpbody {
padding-top: 5px !important;
}
}
#submitdiv .handlediv , #submitdiv .hndle {
	display: none !important;
}
.wrap div.updated, .wrap div.error, .media-upload-form div.error {
margin: 5px 0 0px !important;
}
.inbound-meta-box-option.inbound-dropdown-option {
width: 95% !important;
}
#publishing-action {
text-align: center !important;
float: none !important;
margin-bottom: 15px;
line-height: 32px; }
#minor-publishing-actions input, #major-publishing-actions input, #minor-publishing-actions .preview {
text-align: center !important;
width: 280px !important;
margin: auto !important;
height: 44px !important;
font-size: 17px !important;
}
#major-publishing-actions {
padding: 10px 10px 10px !important;}
.select2-container {
	min-width: 100% !important;
}
.inbound-meta-box-option.inbound-media-option input[type=text] {
width: 100%;
}
#submitdiv {
	position: fixed !important;
bottom: 0px !important;
z-index: 999999 !important;
width: 100% !important;
margin-left: -10px !important;
padding-bottom: 10px !important;
margin-bottom: 0px !important;

}
.version-3-8 #submitdiv {
	margin-left: -20px !important;
}
.jPicker .Grid {
	display: none;
}
.jPicker .Button {
text-align: center;
padding: 0 4px;
width: 264px;
position: absolute;
border-bottom: none;
left: 0px;
bottom: 3px;
}
.jPicker .Button input {
	font-size: 18px !important;
}
.jPicker .Icon span.Color, .jPicker .Icon span.Alpha {
width: 97% !important;
}
.jPicker .Title {
width: 254px;
}
.jPicker hr {
	display: none !important;
}
.inbound-meta-box-option.inbound-datepicker-option span{
display: block;
}
.inbound-meta-box-option.inbound-datepicker-option input {
	width: 70%;
}
#lp-notes-area input {

padding-bottom: 0px;
}
table.jPicker {
width: 430px !important;}
@media only screen and (max-width: 600px) {
.media-modal {
width: 432px !important;
position: fixed !important;
height: 484px !important;
}
.media-modal-backdrop {
width: 600px;
position: fixed !important;
}
}
@media screen and (max-width: 782px) {
#wp-content-editor-tools {
overflow: hidden;
padding: 0px 15px 1px 0; }
}
ul#template-filter {
	clear: both !important;
margin: 0px 0;
padding: 0;
padding-left: 0px;
line-height: 28px;
}
#lp-cancel-selection {
display: block;
float: none;
width: 70%;
text-align: center;
margin: auto;
margin-bottom: 10px;
margin-top: 10px;
}
#template-item {
width: 200px;}
ul#template-filter li {
display: inline-block;

padding-bottom: 0px;
padding-top: 0px;
margin: 0px;
line-height: 20px;
}
.lp-selection-heading h1 {
	font-size: 18px;
	display: block;
	text-align: center;
}
.form-table .inbound-meta-box-label label{
width: 100% !important;
display: block !important;
margin-bottom: 5px;
font-size: 20px !important;

}
.form-table .inbound-wysiwyg-row .inbound-meta-box-label label{
	margin-left: -10px !important;
}
.inbound-textarea-option {
width: 106% !important; }
.inbound-wysiwyg-option {
width: 103% !important;
}
.inbound-wysiwyg-option {
margin-left: -10px !important;
}
.mceIframeContainer.mceFirst.mceLast iframe {
	width: 100% !important;
}
.mceIframeContainer.mceFirst.mceLast {
	margin-top: 30px;
}
.mceToolbar.mceLeft.mceFirst.mceLast div {
background: #F5F5F5;
}
#lp_metabox_select_template {
margin-left: -20px !important;
width: 108%;
}
.wp-editor-container {
border-right-color: transparent !important;
}

#inbound-shortcodes-preview-wrap {
	display: none !important;
}
.wp-editor-wrap {

border-right: 1px solid #E6E6E6 !important;
}
#inbound-shortcodes-form-wrap {
width: 96% !important;}
#inbound-shortcodes-form-wrap tbody tr.form-row td.label {
line-height: 29px !important;
display: block !important;
}
#popup-controls {
position: fixed;
border-top: 1px solid transparent !important;
bottom: 90px !important;
width: 300px !important;
left: 0% !important;
background: transparent !important;}
#inbound-shortcodes-form-table tbody tr.form-row {
display: block;
padding: 0px !important;
border-bottom: none !important;}
#inbound-shortcodes-form-wrap #inbound-shortcodes-form {
padding-bottom: 300px !important;
}
#inbound-shortcodes-form-table input[type="text"], #inbound-shortcodes-form-table input[type="email"], #inbound-shortcodes-form-table input[type="url"], #inbound-shortcodes-form-table input[type="number"], #inbound-shortcodes-form-table input[type="password"], #inbound-shortcodes-form-table textarea {
width: 100% !important;
}
#inbound_insert_shortcode_two, #shortcode_cancel, #inbound_save_form {
margin-bottom: 10px !important; }