Desktop.ini
.idea/workspace.xml

/.idea/.name
/.idea/encodings.xml
/.idea/inbound-automation.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
