* {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
}
h1 {
	letter-spacing:-1px;
	color:#000;
	font-size:32px;
}
h2 {
	margin-bottom:10px;
	font-size:35px;
	color:#000;
}
h3 {
	margin-top:0px;
	margin-bottom:10px;
	font-size:20px;
}
#header {
	width:100%;
	position:fixed;
	top:0;
	margin-top:35px;
}
#hero-back {
	background:#000;
}
#hero, #hero-back {
	width:100%;
	position:fixed;
	top:0;
	min-height:470px;
	z-index:-2;
}
.container{
	width:960px;
	margin:auto;
	line-height:18px;
	font-size:14px;
}
.header-container {
	width:960px;
	margin:auto;
	line-height:18px;
	font-size:14px;
	padding-top:135px;
	text-align:center;
	color:#fff;
}
#content {
	margin-top: 445px;
	z-index:2;
	background:#fff;
	padding-top:20px;
	position:relative;
}
#content .container
{
	padding-bottom:25px;
}

#lp_container{
	padding-top:0px;
}
.h2-content {
	text-align:center; 
	width:100%; 
}
.h2-content h2 {
	margin-bottom: 30px;
}
#top-area {
padding-bottom: 10px;
font-size: 18px;
line-height: 20px;
padding-top: 20px;
text-align: left;
}
.lp-input-label {
min-width: 100px;
font-size: 20px;
display: inline-block;}
 /* overwriting some other styles this would end up in the actual css file */       
.lp-form{
padding: 0px 6px;}

/* Landing page form styles */
.lp-form {margin-left: 5px;}
input[type="text"], input[type="email"] {
width: 325px;
padding: 8px 4px 8px 10px;
margin-bottom: 15px;
border: 1px solid #4E3043;
border: 1px solid rgba(78, 48, 67, 0.8);
background: rgba(0, 0, 0, 0.15);
border-radius: 2px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
font-family: Helvetica,Arial;
color: $484848;
font-size: 13px;
}
input[type="submit"] {
width: 310px;
margin-left: 91px;
padding: 8px 5px;
background: #EAEAEA;
background: -moz-linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
background: -ms-linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
background: -o-linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99, 64, 86, 0.5)), to(rgba(76, 49, 65, 0.7)));
background: -webkit-linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
background: linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
border-radius: 5px;
border: 1px solid #4E3043;
box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 2px 1px rgba(0, 0, 0, 0.1);
cursor: pointer;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
color: #444444;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
font-size: 22px;
font-weight: bold;
font-family: Helvetica,Arial;
}
.lp-span, label {font-size: 14px;}
.lp-span {text-transform: none; display: block; margin-bottom: 8px;}
.lp-input-label .lp-span {
  display: inline;
  color:red;
}
p {
	margin-bottom: 1.5em;
-webkit-hyphens: auto;
}
/* end form styles */

header#begin {
    background: none repeat scroll 0 0 white;
    padding-bottom: 20px;
    padding-top: 0px;
    width: 100%;
    text-align:center;
}
#bottom-content{
	width:100%;
	line-height:18px;
	text-align:center;
	padding-bottom: 40px;
	z-index:2;
	background:#fff;
	padding-top:0px;
	position:relative;
}
#bottom-content #lp_container h3 {
    font-size: 17px;
    margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}