<phpunit bootstrap="tests/travis-ci/bootstrap.php" backupGlobals="false" colors="true">
    <testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite>
            <directory prefix="test." suffix=".php">tests/travis-ci/</directory>
        </testsuite>
    </testsuites>
</phpunit>