/**CTA Inbound Analytics metabox styles**/

#cta-analytics-stat-box{
    border: none;
}

#cta-stat-table{
    width: 100%;
}

/*no stat events styles*/
#quick-stats-box .cta-analytics-stat-box.no-cta-stats{
    height: 30px;
}

#no-cta-stats-message{
    display: block;
    margin-top: 30px;
    font-size: 19px;
}

/*no stats styles*/
#cta-analytics-no-stats-container{
    height: 100px;
}

#cta-analytics-no-stats-message{
    font-size: 20px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 38px;
    text-align: center;
}



/*stats styles*/
table.cta-analytics-stats-metabox{
    text-align: left;
}

th.info-header{
    border-bottom: 1px solid #000000;
}

th.info-header.large-cell{
    width: 65%;
}
    
th.info-header.clicks-cell{
    width: 10%;
}

th.info-header.change-cell{
    width: 25%;
} 
                   
td.stat-header{
    padding-top: 6px;
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: 600;
}

td.click-counter{
    font-size: 13px;
    font-weight: 600;                        
}

.rate-pill{
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    border-radius: 20px
}

.rate-pill.increasing{
    background: #5cb85c;
}

.rate-pill.decreasing{
    background: #f0ad4e;
}

.navigation-separator{
    width: 100%;
    border-top: 1px solid #000000;
    margin-bottom: 12px;
    margin-top: 12px;
}

/*time range styles*/
ul.nav-pills.date-range li{
    width: 19%;
}

ul.nav-pills.date-range li a{
    text-decoration: none;
    background-color: #eee;
    text-align: center;
}

ul.nav-pills.date-range li.active a{
    text-decoration: none;
    background-color: #428bca !important;
} 

/* standalone styles */
.cta-statbox-label{
    text-align: center;
}

.cta-statbox-label.label_1{
    min-width: 50%;
}

.cta-stat-box-heading.total-clicks .cta-statbox-label{
    border-bottom: 1px solid #f1f1f1;
    padding-top: 8px;
    padding-bottom: 12px;
}

.cta-stat-box-heading.top-variations .cta-statbox-label{
    padding-top: 10px;
}

.cta-stat-box-heading.top-posts .cta-statbox-label{
    border-top: 1px solid #f1f1f1;
    padding-top: 10px;
}

.cta-analytics-stat-box .spacer-cell{
    padding-bottom: 10px;
}


