/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 1
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic-ext");

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Roboto Slab',Arial,sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #696E74;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab',Arial,sans-serif;
	font-weight: 700;
}

h5 {
	font-weight: 400;
	margin-top: 40px;
}

p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Roboto Slab',Arial,sans-serif;
	font-weight: 300;
	font-size: 15px; 
	line-height: 24px;
	color: #696E74; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

/* Bootstrap Modifications */
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}

/* BUtton Configuration */

.btn-standard {
	//border: 4px solid #1da083;
	border-radius: 60px;
	color: #fff;
	//background: #1da083;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-standard:hover {
	background: transparent !important;
	color: #ffffff
}

.btn-blue {
	border: 4px solid #0f3450;
	border-radius: 60px;
	color: #fff;
	background: #0f3450;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-blue:hover {
	background: transparent;
	color: #0f3450
}

.btn-lg {
	margin-right: 10px;
}

/* Button used in the footer - contact form */
.btn-green2 {
	color: #fff;
	font-size: 18px;
	min-height: 60px;
	border-radius: 40px;
	text-decoration: none;
	display: inline-block;
	line-height: 24px;
	padding: 16px 30px 20px;
	z-index: 1;
	position: relative;
	border: none;
	background: #1da083;
}

.btn-green2:hover {
	background: #21b191;
	color: white;
}

/* Header Gradient */
#is {
	top: 0;
	width: 100%;
	min-height: 650px;
	position: relative;
	z-index: 1;
	color: #fff;
	padding-top: 10%;
	//background-image: linear-gradient(#1da083,#0f3450);
}

#is h1 {
	color: white;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 40px;
	padding-top: 60px;
}

#is p {
	color: white;
	font-size: 20px
}

/* Font Icons Styling for White Sections */
.icons-white-bg i {
	font-size: 30px;
}

/* Grey Section */

#gs {
	background-color: #f2f2f2;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* Mint Section */
#mint {
	//background: url(../img/mint.jpg) no-repeat center top;
	padding-top: 50px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mint h4 {
	font-weight: 300;
	color: white;
}

/* Footer Section */
#f {
	background: url(../img/footer.jpg) no-repeat center top;
	padding-top: 50px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#f h2 {
	color: white
}

#f h5 {
	color: white;
	text-transform: uppercase;
	font-weight: 400;
}

#f input {
	font-size: 18px;
	min-height: 60px;
	border-radius: 40px;
	line-height: 24px;
	padding: 16px 30px 20px;
	border: none;
	margin-bottom: 10px;
	background-color: #e9f0f2;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

#f .subscribe-input {
	float: left;
	width: 95%;
	text-align: left;
}

#f .subscribe-submit {
	position: absolute;
	right: 0;
	padding-left: 28px;
}

#f .social-icons {
	margin-top: 80px;
}

#f .social-icons i {
	font-size: 25px;
	margin-right: 20px;
}

#f .social-icons a {
	color: white;
}

#f .social-icons a:hover {
	color: #ccc;
}

