
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,

aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
a:link { -webkit-tap-highlight-color: #FF5E99 }
img, video, object, embed {
    max-width: 100%;
    height: auto!important;
}
iframe { max-width: 100% }
blockquote {
    font-style: italic;
    font-weight: normal;
    font-family: Georgia,Serif;
    font-size: 15px;
    padding: 0 10px 10px 27px;
    position: relative;
    margin-top: 25px;
}
blockquote p { margin-bottom: 5px }
blockquote, q { quotes: none }
blockquote:before {
    content: '"';
    position: absolute;
    left: 15px;
    font-size: 24px;
}
strong, b { font-weight: bold }
em, i, cite {
    font-style: italic;
    font-family: georgia;
}
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
    font-family: monospace,consolas,sans-serif;
    font-weight: normal;
    font-style: normal;
}
pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFD700;
}
address { margin: 10px 0 }
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.sticky { }
.gallery-caption { }
.bypostauthor { }
.wp-caption-text { font-weight: bold; font-size: 16px; }
body {
    color: #777;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Droid Serif', sans-serif;
}

strong { font-weight: bold }
em { font-style: italic }
/*-[ Framework ]-------------------------------*/
.home, .page-template-default, .page-template { width: 100%!important }
.page {
    width: 996px;
    margin: 0 auto;
    padding-right: 0em;
    padding-left: 0em;
}
a, a:hover { text-decoration: none }
/*-[ Header Area ]-----------------------------*/
#header {
    overflow: hidden;
    margin: 10px auto;
    padding-right: 1px;
}
#header_area {
    padding: 0;
    width: 100%;
    font-family: 'Oswald', arial, serif;
}
.landing #header { margin-bottom: 0 }
.widget-header { float: right }
#logo { float: left }
#logo a {
    font-size: 24px;
    float: left;
    padding: 0;
    font-weight: normal;
}
.text-logo {
    float: left;
    width: 190px;
    font-weight: normal;
    margin: 5px 0 0 0;
    height: 40px;
}
#header_area #s { width: auto }
/*-[ Navigation Menu ]-------------------------*/
nav select { display: none }
.main-navigation {
    background: #494951 url('images/nav_bg.png');
    -moz-box-shadow: 0 1px 0 #222 inset,0 -1px 2px #222 inset,0 -1px 15px #222;
    -webkit-box-shadow: 0 1px 0 #222 inset,0 -1px 2px #222 inset,0 -1px 15px #222;
    box-shadow: 0 1px 0 #222 inset,0 -1px 2px #222 inset,0 -1px 15px #222;
}
.main-navigation .sub-menu li, .main-navigation .children li { background: #494951 url('images/nav_bg.png') }
.main-navigation .menu a {
    color: #fff;
    border-right: 1px solid #3D3D3D;
}
.main-navigation .menu li ul a { border-right: 0 }
.main-navigation .sub-menu, .main-navigation .children {
    margin-top: 42px;
    border: 1px solid #3D3D3D;
    margin-left: -1px;
    border-top: 0;
}

.secondary-navigation .menu {
    background: #fff;
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.secondary-navigation .menu a {
    color: #777;
    border-right: 1px solid #EEE;
}
.secondary-navigation .sub-menu, .secondary-navigation .children {
    margin-top: 42px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-left: -1px;
}
.secondary-navigation .sub-menu li, .secondary-navigation .children li {
    background: #fff;
    border-bottom: 1px solid #eee;
}
.main-navigation .sub-menu li ul, .main-navigation .children li ul, .secondary-navigation .sub-menu li ul, .secondary-navigation .children li ul { margin-left: 0 }
.menu .sf-with-ul { padding-right: 30px }
.menu li ul .sf-with-ul { padding-right: 15px }
.sf-sub-indicator {
    position: absolute;
    right: 10px;
    line-height: 1;
}
.menu ul, .menu ul li { width: 190px }
.menu ul ul, .menu :hover ul :hover ul {
    left: 190px;
    margin-top: 0;
}
.menu li:hover ul, .menu a:hover ul { left: 0 }
.menu {
    border-width: 0 0 0 0;
    position: relative;
    list-style: none;
    width: 996px;
    margin: 0 auto;
}
.menu::after, #content_box::after, #sidebars::after, .format_text::after, ul.sidebar_list::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.menu ul {
    position: absolute;
    visibility: hidden;
    list-style: none;
    z-index: 110;
}
.menu li {
    float: left;
    position: relative;
}
.menu ul li { clear: both }
.menu a {
    display: block;
    float: left;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.menu li ul a {
    width: 100%;
    max-width: 160px;
}
.menu ul ul {
    position: absolute;
    top: -1px;
}
.menu li:hover ul, .menu a:hover ul, .menu :hover ul :hover ul, .menu :hover ul :hover ul :hover ul { visibility: visible }
.menu :hover ul ul, .menu :hover ul :hover ul ul { visibility: hidden }
.sub-menu li { padding-top: 0 }
.sub-menu ul { margin-top: 0 }
/*-[ Content ]---------------------------------*/
#content_area { padding-bottom: 2px }
#content_area .page {

    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);

}
.headline_area h1, .headline_area h2 {
    font-weight: normal;
    color: #494949;
    font-size: 26px;
    line-height: 1.4;
    text-decoration: none;
    margin-bottom: 10px;
}
.headline_meta {
    font-size: 13px;
    margin: 0 0 15px;
    color: #A5A5A5;
    overflow: hidden;
}

.entry-title { font-weight: normal; }
.entry-title a { color: #555 }


.headline_meta a:hover { text-decoration: underline }
.breadcrumb {
    margin: 0 0 15px 0;
    font-size: 14px;
}
.format_text img {
    max-width: 98%;
    height: auto;
}
.format_text a { text-decoration: none }
.format_text p.alert {
    background: none repeat scroll 0 0 #FFFFC7;
    border: 1px solid #E5E597;
}
.format_text ol { margin: 1.5em 0 1.571em 1.571em }
#content_box { width: 100% }
#content {
    width: 60.6%;
    float: right;
    padding-bottom: 2px;
    border-left: 1px solid #E8E8E8;
    padding: 25px 2.5% 2px 2.5%;
    background: #fff;
}
#content_box .page {
    margin: 0 23px 0 11px;
    width: auto;
}
#content_box { background-color: #F5F5F5 }
.post_box {
    padding: 0 0 3px 0;
    margin: 0 0 15px;
   /* background: url(images/divider.png) bottom repeat-x; */
}
.post_box ol, .post_box ul { margin-left: 21px }
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', arial, serif;
    color: #555;
    margin: 5px 0;
}
h1 {
    line-height: 1.4;
    font-size: 34px;
}
h2 {
    font-size: 26px;
    line-height: 1;
}
.format_text h2 {
    border-bottom: 4px solid #eee;
    padding-bottom: 5px;
}
h3 {
    font-size: 22px;
    line-height: 1.6;
}
h4 {
    font-size: 20px;
    line-height: 1.6;
}
h5 {
    font-size: 18px;
    line-height: 1.6;
}
h6 {
    font-size: 16px;
    line-height: 1.6;
}
.format_text p {
    margin-bottom: 1em;
    display: block;
}
.format_text img.left, .format_text img.alignleft, .wp-caption.alignleft {
    margin: 0 1.5em 1.5em 0;
    display: block;
    float: left;
}
.format_text img.right, .format_text img.alignright, .wp-caption.alignright {
    margin: 0 0 1.50em 1.50em;
    display: block;
    float: right;
}
.format_text img.center, .format_text img.aligncenter, .wp-caption.aligncenter {
    margin: 0.5em auto 0.5em auto;
    display: block;
}
.format_text img.aligncenter, .format_text img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}
.size-thumbnail {
    margin: 10px 10px 10px 0;
    display: inline!important;
}
.featured-thumbnail { overflow: hidden }
.format_text ul {
    margin: 1.5em 0 1.571em 0;
    list-style-type: circle;
}
.format_text ol { list-style-type: decimal }
.format_text blockquote {
    margin: 0 0 1.571em 0;
    font-style: italic;
}
span.author { color: #777 }
pre { font-family: monospace }
embed, iframe { max-width: 100% }
.page-template-page-nosidebar-php #content {
    width: 100%;
    border-right: 0;
    max-width: 996px;
    padding: 0 0 20px;
}
.page-template-page-nosidebar-php .post_box {
    max-width: 996px;
    padding: 30px;
    margin-bottom: 0;
}
/*-[ Archive ]---------------------------------*/
.postsby {
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 3px solid #eee;
}
.postsbydescription {
    margin: 15px 0;
    font-style: italic;
}
/*-[ Read more link]---------------------------*/
.readmore {
    float: right;
    margin-top: 10px;
}
a.readmore:hover { text-decoration: underline }
/*-[ Thumbnail ]-------------------------------*/
.wp-post-image {
    float: left;
    margin: 7px 15px 10px 0;
}
.attachement-featured { margin: 0 }
/*-[ Search Form ]-----------------------------*/
#searchform fieldset {
    float: left;
    color: #888;
    border: 1px solid #DFDFDF;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 98%;
    margin: 3px;
    background: #FCFCFC;
    max-width: 300px;
}
#searchform fieldset:hover {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    background: #fff;
}
#searchform {
    margin: 0 10px 10px 0;
    display: block;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.widget-header #searchform { margin-right: 0 }
#s {
    float: left;
    color: #888;
    background: transparent;
    border: 0;
    width: 80%;
    padding: 0.6em;
}
#searchform .sbutton {
    cursor: pointer;
    padding: 8px;
    float: right;
}
.post_box #searchform fieldset { width: 300px }
.post_box #searchform {
    margin: 25px 0;
    overflow: hidden;
}
/*-[ Sidebar ]---------------------------------*/
#sidebars {
    float: left;
    padding: 0;
    width: 30.2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 25px;
    background: #F5F5F5;
}
#sidebars ul.sidebar_list { list-style: none }
.sidebar a, #footer a { color: #777 }
.sidebar h3 {
    font-size: 22px;
    text-transform: none!important;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: normal;
    color: #555;
}
li.widget ul { list-style: circle }
li.widget ul li, #footer_setup .footer_items ul li, .format_text ul li {
    margin-left: 1.4em;
    list-style: circle;
}
input[type="text"], .sidebar input[type="text"], .sidebar input[type="submit"], #footer input[type="text"], #footer input[type="submit"] {
    padding: 0.6em;
    color: #777;
}
#footer input[type="text"], #footer input[type="submit"] { float: left }
#footer .mts-subscribe {
    margin: 0 0 45px 0;
    overflow: hidden;
}
#footer .mts-subscribe input[type="text"] { width: 190px }
#footer .mts-subscribe input[type="submit"], .mts-subscribe input[type="submit"]:hover { border-width: 2px }
#footer .rsscount { margin-right: 15px }
#footer .twittercount { margin-right: 5px }
li.widget {
    margin-bottom: 25px;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
}
li.widget ul li { margin-bottom: 4px }
li.widget li ul { margin: 7px 0 0 5px }
#sidebars .wp-post-image, #footer .wp-post-image {
    margin-bottom: 0;
    margin-top: 5px;
}
.textwidget { line-height: 20px }
.advanced-recent-posts li, .popular-posts li, .category-posts li {
    list-style: none!important;
    margin-left: 0!important;
    padding: 10px 0;
	font-size:14px;
	font-weight: bold;
    border-bottom: 1px dashed #ddd;
    overflow: hidden;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    color: #aaa;
}
.advanced-recent-posts li:hover, .popular-posts li:hover, .category-posts li:hover { }
/*-[ Subscribe Widget ]------------------------*/
.mts-subscribe input[type="text"] {
    color: #888;
    border: 1px solid #DFDFDF;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 3px;
    width: 195px;
    float: left;
}
.mts-subscribe input[type="text"]:hover {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.mts-subscribe input[type="submit"]:hover { background: #474747 }
/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    max-width: 100%;
}
.ad-125 li {
    float: left;
    border: none;
    list-style: none!important;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    margin-left: 0!important;
    width: 42%;
}
#mts_ad_widget { margin-bottom: 10px!important }
.ad-125 .evenad { float: right!important }
footer .ad-300 img, footer .ad-125 img {
    padding: 0;
    background: #FAFAFA;
    border: 0;
}
/*-[ Tweets Widget ]---------------------------*/
.tweets li { margin-bottom: 15px!important }
.twitter-follow {
    background: url(images/small_twitter.png) no-repeat center left;
    padding: 5px 0 5px 20px;
    float: right;
}
/*-[ Tab widget ]------------------------------*/
#tabber {
    display: block;
    height: auto;
    overflow: hidden;
    max-width: 300px;
    margin-top: 15px;
    margin-bottom: 20px;
}
#tabber .inside {
    padding: 15px 0;
    border-top: 1px solid #ff4900;
}
#tabber ul.tabs {
    overflow: hidden;
    height: 38px;
    text-align: center;
}
#tabber ul.tabs li {
    background: none;
    float: left;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-bottom: none;
    width: 50%;
    text-align: center;
}
#tabber ul.tabs li a {
    background: #e8e7e7;
    color: #999999;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    padding: 1px 10%;
    line-height: 38px;
    width: 80%;
}

.post-number {
    position: relative;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 23px;
    font-weight: bold;
    color: #fff;
    bottom: 22px;
    background: #2DB2EB;
}
#tabber .inside .tabsSep {
    margin-top: 7px;
    width: 100%;
    height: 1px;
    background-color: #e8e5de;
    clear: both;
    float: left;
}

/*-[ Calender Widget ]-------------------------*/
#wp-calendar { width: 300px }
#wp-calendar td { text-align: center }
#wp-calendar caption {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
/*-[ Related Posts ]---------------------------*/
.related-posts {
    overflow: hidden;
    padding: 15px 0 0;
}
.related-posts ul { margin-left: 0 }
.related-posts h3 {
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}
.relatedthumb img {
    width: 180px;
    height: 120px;
}
.related-posts li {
    width: 180px;
    float: left;
    list-style: none;
    margin-right: 30px;
}
.related-posts .last { margin-right: 0 }
.related-posts a { color: #333 }


.postauthor img {
    float: left;
    margin: 5px 10px 0 0;
}
.postauthor h4 {
    color: #777;
    font-size: 20px;
    margin-bottom: 5px;
}
.postauthor p {
    margin-bottom: 12px;
    text-align: justify;
}
/*-[ commment intro ]--------------------------*/
.cnumber {
    font-size: 20px;
    font-weight: bold;
}
/*-[ Comments ]--------------------------------*/
.total-comments {
    font-size: 18px;
    font-family: 'Oswald', arial, serif;
}
#comments { margin-right: 0 }
#comments .avatar {
    float: left;
    margin-right: 10px;
}
input.text-input, #commentform input { padding: 11px }


.contactform input[type="text"] { width: 380px }
.contactform input[type="text"], .contactform textarea {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border: 1px solid #E7E7E7;
}
.contactform input[type="text"]:hover, .contactform textarea:hover {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.contact-submit, #cancel-comment-reply-link {
    padding: 7px 20px;
    color: white;
    border: 1px solid #383838;
    cursor: pointer;
    background: #333;
    font-size: 14px;
    float: right;
}

#commentform input#submit:hover { background: #333 }
.commentlist li {
    list-style: none;
    padding: 20px;
    background: #F9F9F9;
    margin: 20px 0;
    border: 1px solid #DDD;
}
.commentlist li li {
    background: none;
    padding: 0;
    border: 0;
}
.commentlist li ol li {
    list-style-type: decimal;
    margin-left: 20px;
}
.commentlist li ul li {
    list-style-type: square;
    margin-left: 20px;
}
.commentlist .thread-even { background: #FFF }
.commentlist .thread-odd, .commentlist .thread-even .children li { background: #F9F9F9 }
.commentlist p {
    margin-bottom: 1em;
    line-height: 21px;
}
.fn {
    font-size: 16px;
    line-height: 1.375em;
    font-weight: bold;
    font-style: normal;
}
.comment-meta {
    margin-bottom: 15px;
    font-size: 12px;
    font-style: italic;
}
.comment-meta a { color: #888 }
.reply {
    margin-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}
.reply a {
    float: right;
    padding: 0 14px;
    font-family: Georgia, sans-serif;
    font-style: italic;
}
.reply a:hover { }
.commentlist .children {
    margin-left: 4%;
    margin-top: 30px;
}
.commentlist .children li { background: #fff }
.avatar { float: left }
#respond h3 {
    margin-top: 18px;
    font-size: 25px;
    margin: 15px 0 15px 0;
    padding: 0 0 20px 0;
    border-bottom: 3px solid #444;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -25px;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
/*-[ Comment Form ]----------------------------*/
#commentform textarea {
    width: 96%;
    font-family: inherit;
    border: 1px solid #E7E7E7;
    background: white;
    font-size: 14px;
    padding: 10px;
}
#commentform p { margin-bottom: 15px }
/*-[ Page Navigation ]-------------------------*/
.pagination {
    float: left;
    padding-right: 30px;
}
.pagination a {
    transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}
.pagination ul li {
    display: inline-block;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.inactive { padding: 5px 10px }

.pagination2 {
    padding-top: 1em;
    display: block;
    clear: both;
}
.pagination2 a {
    margin-left: 10px;
    margin-right: 10px;
}
.pagination2 a:hover {
    background: #333;
    color: #fff;
}
.nav-previous { float: left }
.nav-next { float: right }
/*-[ Footer ]----------------------------------*/
#footer_area { }
#footer_area .page {
    padding: 0px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    width: 996px;
    background: #fff;
}
#footer {
    font-size: 13px;
    text-align: center;
}
#footer_setup {
    margin: 0 0 0.5em 0;
    margin-bottom: 5px;
    overflow: hidden;
}
#footer_setup .footer_items {
    padding-right: 0px;
    color: #777;
    font-size: 13px;
    height: 100%;
    font-weight: normal;
    overflow: hidden;
    line-height: 18px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.footer_items_1, .footer_items_2, .footer_items_3 {
    text-align: left;
    width: 32%;
    float: left;
    margin-right: 2%;
    padding-bottom: 3px;
    margin-bottom: 5px;
}
.footer_items_3 { margin-right: 0 }
.footer_widget { margin-bottom: 30px }
#footer_setup h3 {
    padding: 0 0 1em 0;
    font-size: 19px;
    margin-bottom: 12px;
    border-bottom: 1px dashed #EEE;
    color: #555;
}
#footer_setup .footer_items ul {
    margin-right: 1.5em;
    padding: 0px;
    line-height: 20px;
}
#footer #searchform {
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
}
#footer .ad-125 ul {
    margin-right: 0;
    width: 285px;
}
#footer .ad-125 ul li {
    margin-right: 1.2em;
    list-style: none;
}
/*-[ Top Link ]--------------------------------*/
.top {
    float: right;
    display: block;
    clear: both;
    margin-top: 25px;
}
.top a {
    float: right;
    opacity: 0.2;
    margin-top: -10px;
}
.top a:hover { opacity: 0.8 }

.share-item.facebookbtn, .share-item.linkedinbtn, .share-item.stumblebtn { width: 92px }
.shareit {
    padding: 12px 10px 7px 10px;
    overflow: hidden;
    clear: both;
    background-color: #f2f2f2;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 15px;
}
.shareit .share-item {
    display: block;
    margin: 0;
    float: left;
    height: 25px;
}
/*-[ Social Profile Widget ]--------------------------*/
.social-profile-icons { overflow: hidden }
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 5px 10px!important;
    padding: 0;
    text-indent: -999em;
}
.social-profile-icons ul li a {
    display: block;
    width: 32px;
    height: 32px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.social-profile-icons ul li a:hover { opacity: 0.7 }

/*-[ Other Classes ]---------------------------*/
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}
.left { float: left }
.right { float: right }
/*-----------------------------------------------
/* Shortcodes
/*---------------------------------------------*/

/*-[ Buttons ]---------------------------------*/
.buttons {
    font-size: 12px;
    text-decoration: none;
    position: relative;
    padding: 10px 20px 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 15px 25px 25px 0;
    padding: 12px 10px;
}
.format_text a.buttons { color: #fff!important }
.format_text a.btn_white { color: #4F4F4F!important }
.btn_brown {
    background-color: #D9C2A5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D9C2A5), color-stop(100%, #C3A178));
    background-image: -webkit-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: -moz-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: -ms-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: -o-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: linear-gradient(top, #D9C2A5, #C3A178);
    border-top: 1px solid #BD986A;
    border-right: 1px solid #BD986A;
    border-bottom: 1px solid #9A7445;
    border-left: 1px solid #BD986A;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #DFCC9F;
    -moz-box-shadow: inset 0 1px 0 0 #DFCC9F;
    box-shadow: inset 0 1px 0 0 #DFCC9F;
    color: white;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #BA905E;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_brown:hover {
    background-color: #D1B593;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D1B593), color-stop(100%, #BC966B));
    background-image: -webkit-linear-gradient(top, #D1B593, #BC966B);
    background-image: -moz-linear-gradient(top, #D1B593, #BC966B);
    background-image: -ms-linear-gradient(top, #D1B593, #BC966B);
    background-image: -o-linear-gradient(top, #D1B593, #BC966B);
    background-image: linear-gradient(top, #D1B593, #BC966B);
    border-top: 1px solid #BD986A;
    border-right: 1px solid #BD986A;
    border-bottom: 1px solid #9A7445;
    border-left: 1px solid #BD986A;
    -webkit-box-shadow: inset 0 1px 0 0 #DFCC9F;
    -moz-box-shadow: inset 0 1px 0 0 #DFCC9F;
    box-shadow: inset 0 1px 0 0 #DFCC9F;
    cursor: pointer;
    color: white!important;
}
.btn_brown:active {
    border: 1px solid #B2824C;
    -webkit-box-shadow: inset 0 0 8px 2px #C19B70;
    -moz-box-shadow: inset 0 0 8px 2px #C19B70;
    box-shadow: inset 0 0 8px 2px #C19B70;
}
.btn_blue {
    background-color: #A5B8DA;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A5B8DA), color-stop(100%, #7089B3));
    background-image: -webkit-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -moz-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -ms-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -o-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: linear-gradient(top, #A5B8DA, #7089B3);
    border-top: 1px solid #758FBA;
    border-right: 1px solid #6C84AB;
    border-bottom: 1px solid #5C6F91;
    border-left: 1px solid #6C84AB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
    color: white;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #64799E;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_blue:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    -moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer;
    color: white!important;
}
.btn_blue:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6;
    -moz-box-shadow: inset 0 0 8px 2px #7e8da6;
    box-shadow: inset 0 0 8px 2px #7e8da6;
}
.btn_green {
    background-color: #6CB24C;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6CB24C), color-stop(100%, #52873A));
    background-image: -webkit-linear-gradient(top, #6CB24C, #52873A);
    background-image: -moz-linear-gradient(top, #6CB24C, #52873A);
    background-image: -ms-linear-gradient(top, #6CB24C, #52873A);
    background-image: -o-linear-gradient(top, #6CB24C, #52873A);
    background-image: linear-gradient(top, #6CB24C, #52873A);
    border-top: 1px solid #477532;
    border-right: 1px solid #477532;
    border-bottom: 1px solid #3A6029;
    border-left: 1px solid #477532;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #8FC477;
    -moz-box-shadow: inset 0 1px 0 0 #8FC477;
    box-shadow: inset 0 1px 0 0 #8FC477;
    color: white;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 12px 10px;
    text-shadow: 0 -1px 1px #416B2D;
    text-transform: uppercase;
}
.btn_green:hover {
    background-color: #5F9D43;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68AB49), color-stop(100%, #4A7834));
    background-image: -webkit-linear-gradient(top, #68AB49, #4A7834);
    background-image: -moz-linear-gradient(top, #68AB49, #4A7834);
    background-image: -ms-linear-gradient(top, #68AB49, #4A7834);
    background-image: -o-linear-gradient(top, #68AB49, #4A7834);
    background-image: linear-gradient(top, #68AB49, #4A7834);
    border-top: 1px solid #4E8037;
    border-right: 1px solid #4E8037;
    border-bottom: 1px solid #3A6029;
    border-left: 1px solid #4E8037;
    -webkit-box-shadow: inset 0 1px 0 0 #8FC477;
    -moz-box-shadow: inset 0 1px 0 0 #8FC477;
    box-shadow: inset 0 1px 0 0 #8FC477;
    cursor: pointer;
    color: white!important;
}
.btn_green:active {
    border: 1px solid #436D30;
    -webkit-box-shadow: inset 0 0 8px 2px #467131;
    -moz-box-shadow: inset 0 0 8px 2px #467131;
    box-shadow: inset 0 0 8px 2px #467131;
}
.btn_yellow {
    background-color: #FFDA6B;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFDA6B), color-stop(100%, #FEAE2D));
    background-image: -webkit-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: -moz-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: -ms-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: -o-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: linear-gradient(top, #FFDA6B, #FEAE2D);
    border-top: 1px solid #D6AB00;
    border-right: 1px solid #D6AB00;
    border-bottom: 1px solid #BC9600;
    border-left: 1px solid #D6AB00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #FFE599;
    -moz-box-shadow: inset 0 1px 0 0 #FFE599;
    box-shadow: inset 0 1px 0 0 #FFE599;
    color: #fff;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 1px 1px #BC9600;
    text-transform: uppercase;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 12px 10px;
}
.btn_yellow:hover {
    background-color: #FFD351;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD351), color-stop(100%, #FDA00B));
    background-image: -webkit-linear-gradient(top, #FFD351, #FDA00B);
    background-image: -moz-linear-gradient(top, #FFD351, #FDA00B);
    background-image: -ms-linear-gradient(top, #FFD351, #FDA00B);
    background-image: -o-linear-gradient(top, #FFD351, #FDA00B);
    background-image: linear-gradient(top, #FFD351, #FDA00B);
    border-top: 1px solid #D6AB00;
    border-right: 1px solid #D6AB00;
    border-bottom: 1px solid #BC9600;
    border-left: 1px solid #D6AB00;
    -webkit-box-shadow: inset 0 1px 0 0 #FFE599;
    -moz-box-shadow: inset 0 1px 0 0 #FFE599;
    box-shadow: inset 0 1px 0 0 #FFE599;
    cursor: pointer;
    color: #fff!important;
}
.btn_yellow:active {
    border: 1px solid #F29202;
    -webkit-box-shadow: inset 0 0 8px 2px #F29202;
    -moz-box-shadow: inset 0 0 8px 2px #F29202;
    box-shadow: inset 0 0 8px 2px #F29202;
}
.btn_red {
    background-color: #E83030;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E83030), color-stop(100%, #B71414));
    background-image: -webkit-linear-gradient(top, #E83030, #B71414);
    background-image: -moz-linear-gradient(top, #E83030, #B71414);
    background-image: -ms-linear-gradient(top, #E83030, #B71414);
    background-image: -o-linear-gradient(top, #E83030, #B71414);
    background-image: linear-gradient(top, #E83030, #B71414);
    border-top: 1px solid #9C1111;
    border-right: 1px solid #9C1111;
    border-bottom: 1px solid #890F0F;
    border-left: 1px solid #9C1111;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #FF6B6B;
    -moz-box-shadow: inset 0 1px 0 0 #FF6B6B;
    box-shadow: inset 0 1px 0 0 #FF6B6B;
    color: white;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #A01111;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_red:hover {
    background-color: #E63131;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E63131), color-stop(100%, #9C1111));
    background-image: -webkit-linear-gradient(top, #E63131, #9C1111);
    background-image: -moz-linear-gradient(top, #E63131, #9C1111);
    background-image: -ms-linear-gradient(top, #E63131, #9C1111);
    background-image: -o-linear-gradient(top, #E63131, #9C1111);
    background-image: linear-gradient(top, #E63131, #9C1111);
    border-top: 1px solid #9C1111;
    border-right: 1px solid #9C1111;
    border-bottom: 1px solid #890F0F;
    border-left: 1px solid #9C1111;
    -webkit-box-shadow: inset 0 1px 0 0 #FE4C4C;
    -moz-box-shadow: inset 0 1px 0 0 #FE4C4C;
    box-shadow: inset 0 1px 0 0 #FE4C4C;
    cursor: pointer;
    color: white!important;
}
.btn_red:active {
    border: 1px solid #890F0F;
    -webkit-box-shadow: inset 0 0 8px 2px #890F0F;
    -moz-box-shadow: inset 0 0 8px 2px #890F0F;
    box-shadow: inset 0 0 8px 2px #890F0F;
}
.btn_white {
    background-color: #F7F7F7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7F7F7), color-stop(100%, #E0E0E0));
    background-image: -webkit-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: -moz-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: -ms-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: -o-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: linear-gradient(top, #F7F7F7, #E0E0E0);
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #C4C4C4;
    border-left: 1px solid #CECECE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #FFFFFF;
    -moz-box-shadow: inset 0 1px 0 0 #FFFFFF;
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    color: #4F4F4F;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #fff;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_white:hover {
    background-color: #F4F4F4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F4F4F4), color-stop(100%, #D3D3D3));
    background-image: -webkit-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: -moz-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: -ms-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: -o-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: linear-gradient(top, #F4F4F4, #D3D3D3);
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #C4C4C4;
    border-left: 1px solid #CECECE;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    cursor: pointer;
    color: #4F4F4F!important;
}
.btn_white:active {
    border: 1px solid #C1C1C1;
    -webkit-box-shadow: inset 0 0 8px 2px #C1C1C1;
    -moz-box-shadow: inset 0 0 8px 2px #C1C1C1;
    box-shadow: inset 0 0 8px 2px #C1C1C1;
}
/*-[ Video Shortcode ]-------------------------*/
.textwidget .youtube-video, .textwidget .vimeo-video, .textwidget .googlemaps { margin: 0 }
.youtube-video, .vimeo-video { margin: 10px 15px 10px 0 }
/*-[ Google Maps ]-----------------------------*/
.googlemaps { margin: 5px 15px 10px 0 }
/*-[ Columns ]---------------------------------*/
.one_half { width: 48% }
.one_third { width: 30.66% }
.two_third { width: 65.33% }
.one_fourth { width: 22% }
.three_fourth { width: 74% }
.one_fifth { width: 16.8% }
.two_fifth { width: 37.6% }
.three_fifth { width: 58.4% }
.four_fifth { width: 67.2% }
.one_sixth { width: 13.33% }
.five_sixth { width: 82.67% }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    position: relative;
    margin-right: 4%;
    margin-bottom: 15px;
    float: left;
}
.column-last {
    margin-right: 0!important;
    clear: right;
}
/*-[ Tabs ]------------------------------------*/
.tab_widget {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
}
.tab_widget ul.tabs {
    display: block;
    position: relative;
    list-style: none;
    height: 40px;
    border-bottom: 1px solid #DDD;
    margin: 0;
}
.tab_widget ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 39px;
    line-height: 39px;
    border: 1px solid #DDD;
    border-left: none;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -o-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(230,230,230)), color-stop(0.55, rgb(238,238,238)) );
}
.tab_widget ul.tabs li:first-child { border-left: 1px solid #DDD }
.tab_widget ul.tabs li a {
    text-decoration: none;
    color: #888!important;
    font-size: 12px;
    display: block;
    padding: 0 10px;
    outline: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
    border: none;
    border-left: 1px solid #F9F9F9;
}
.tab_widget ul.tabs li:first-child a { border-left: none }
.tab_widget ul.tabs li a:hover { background: none }
.tab_widget ul.tabs li.active, .tab_widget ul.tabs li.active a:hover {
    background: #FFF;
    border-bottom: 1px solid #FFF;
}
.tab_widget ul.tabs li.active { border-top: 1px solid #DDD }
.tab_widget ul.tabs li.active a { color: #777 }
.tab_widget .tab_container {
    display: block;
    border-top: none;
    overflow: hidden;
    position: relative;
    clear: both;
    background: #FFF;
    border: 1px solid #DDD;
    border-top: none;
}
.tab_widget .tab_content {
    display: block;
    position: relative;
    padding: 15px;
}

/*-[ Dividers ]--------------------------------*/
.divider {
    clear: both;
    display: block;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 5px solid #EEE;
}
.top-of-page {
    margin-bottom: 10px;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 5px solid #EEE;
}
/*-----------------------------------------[ 1200 ]-------------------------------------*/
@media screen and (max-width:1200px) {
    .shareit {
        opacity: 0.5!important;
        border: none!important;
        margin: 15px 0 15px 0!important;
        width: 100%!important;
        position: relative!important;
        overflow: hidden!important;
        border-radius: 0!important;
        -moz-border-radius: 0!important;
        -webkit-border-radius: 0!important;
        top: 0!important;
    }
}

/*-----------------------------------------[ 768 ]-------------------------------------*/
@media screen and (max-width:768px) {
    #content { max-width: 57.5% }
    .secondary-navigation {
        width: 98%;
        margin: 0 auto;
    }
        #sidebars { max-width: 90%;
    padding-left: 6%;
    margin: auto;}
    .main-navigation ul {
        text-align: center;
        border: none;
    }
    nav ul {
        float: none;
        display: inline-block;
    }
    .js nav ul { display: none }
    .js nav select {
        display: inline-block !important;
        max-width: none;
        border: none;
        padding: 7px 15px;
        width: 100%;
        color: #fff;
        background: #808080;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
        font-size: 12px;
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset , 0 1px 1px rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset , 0 1px 1px rgba(255, 255, 255, 0.9);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset , 0 1px 1px rgba(255, 255, 255, 0.9);
        margin-top: 0;
        margin-bottom: 4px;
        float: left;
        margin-right: 15px;
    }
    .secondary-navigation { border: 0!important }
    .vimeo-video, .youtube-video { overflow: hidden }
    .googlemaps iframe, .vimeo-video iframe, .vimeo-video object, .vimeo-video embed, .youtube-video iframe, .youtube-video object, .youtube-video embed {
        width: 100%;
        height: 100%;
    }
}
/*-----------------------------------------[ 996 ]-------------------------------------*/
@media screen and (max-width:996px) {
    .page, .menu { width: 98% }
    #footer_area .page { width: 93.9% }
    #content { }
    #sidebars { max-width: 90%;
padding-left: 3%;
margin: auto;}
    #sidebars img, #footer img, #content img { }
    #s { width: 70% }
    .related-posts li {
        max-width: 31%;
        margin-right: 10px;
    }
    .related-posts li {
        max-width: 31%;
        margin-right: 10px;
    }
}
/*-----------------------------------------[ 750 ]-------------------------------------*/
@media screen and (max-width:750px) {
    #content {
        width: 100%;
        border-right: 0;
        max-width: 94.8%;
        border-left: 0;
    }
    #sidebars { width: 100% }
}
/*-----------------------------------------[ 720 ]-------------------------------------*/
@media screen and (max-width:720px) {
    .f-widget {
        width: 44%;
        clear: right;
    }
    .f-widget-3 { clear: left }
    .f-widget-2 { margin-right: 0 }
}
/*-----------------------------------------[ 550 ]-------------------------------------*/
@media screen and (max-width:550px) {
    .f-widget { width: 95% }
}
/*-----------------------------------------[ 480 ]-------------------------------------*/
@media screen and (max-width:480px) {
    #logo { width: 100% }
    #logo a {
        text-align: center;
        display: block;
        width: 100%;
    }
    .widget-header {
        float: left;
        clear: both;
    }
    .tabs-wrapper ul.tabs li { margin-bottom: 10px }
    .tabs-wrapper ul.tabs { height: auto }
    .top { display: none }
}
/*-----------------------------------------[ 460 ]-------------------------------------*/
@media screen and (max-width:460px) {
	.related-posts li { width: 100% }
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
	    width: 100%;
	    margin-right: 0;
	}
}
/*-----------------------------------------[ 320 ]-------------------------------------*/
@media screen and (max-width:320px) {
    body { font-size: 13px; margin: 0; padding: 0; }
    .headline_area h1, .headline_area h2 { font-size: 20px!important }
    .themeta { float: left }
    .thecategories { float: none }
    .format_text h1 {
        line-height: 48px;
        font-size: 28px;
    }
    .format_text h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .format_text h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .format_text h4, .postauthor h4 {
        font-size: 18px;
        line-height: 36px;
    }
    .copyrights { font-size: 10px }
    .related-posts li { max-width: 45% }

}
/*-----------------------------------------[ 240 ]-------------------------------------*/
@media screen and (max-width:240px) {
    .themeta { float: left }
    .flex-container { display: none }
    #s { width: 69%!important }
    .ad-125 li { width: 100% }
    .ad-125 li a {
        width: 75%;
        height: auto;
    }
    .related-posts li { max-width: 100% }
}
#article-finished
{
padding: 10px;
background-color: #FFFFFF;
border: 1px solid #EE4824;
font-size: 14px;
color: #EE4824;
font-weight: bold;
position: fixed;
bottom: 0px;
right: 0px;
width: 298px;
-webkit-transition: right 1s ease-in-out;
-moz-transition: right 1s ease-in-out;
-o-transition: right 1s ease-in-out;
-ms-transition: right 1s ease-in-out;
transition: right 1s ease-in-out;
}

#article-finished.hiding
{
right: -450px;
}
#article-finished .no-show{
    text-align:center;
	font-size: 12px;
}
#article-finished  .no-show a{
    color:#000;
    text-decoration:underline;
    font-size:12px;

}