<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width">

  <meta content="authenticity_token" name="csrf-param" />
<meta content="xn5hYVOnXItXqQorW6nlEorSqIXVVqWccJJmQFJQg3w=" name="csrf-token" />

  <title>CodePen</title>


  <link href="http://assets.codepen.io/assets/global/global-MQ-4fe949ad07d0dcd4cf12f6515e926045.css" media="all" rel="stylesheet" type="text/css" />
  <link href="http://assets.codepen.io/assets/page/page-MQ-8a3d7f1d1bbf79a650693f24e8c180bb.css" media="all" rel="stylesheet" type="text/css" />

  

  <link rel="shortcut icon" href="/favicon.ico">

</head>

<body class="">

    <header class="main-header group">

  <h1 class="logo">
    <a href="/">
      CodePen
    </a>
  </h1>

  <div class="box-actions">

    <a href="/pen/" id="new" class="top-button button">
      <span class="icon" data-icon="&#xe027;" aria-hidden='true'></span>
      New Pen
    </a>

  </div>

  <div class="app-actions">

    <div class="user-stuff">


  <a href="https://s.codepen.io/login" class="button top-button login-button" id="login-button">Login</a>

  <a href="/signup/" class="button top-button signup-button">Sign up</a>


</div>


  </div>

</header>

  <img alt="No pens here!" class="super-center" src="http://assets.codepen.io/images/404.png" />

  <div id="overlay"></div>

  <footer class="site-footer">

  <div class="footer-left">
    &copy;2014 <a href="/">CodePen</a>

    <em>Demo or it didn't happen.</em>

  </div>

  <div class="footer-right">


    <a href="http://blog.codepen.io/store/">Store</a>

    <a href="/about">About</a>

    <a href="/support/">Support</a>

    <a href="http://blog.codepen.io/documentation/">Docs</a>
    <a href="http://blog.codepen.io/">Blog</a>

    <a href="/stats/">Stats</a>

    <a href="/pro/">PRO</a>

    <a href="http://twitter.com/CodePen">@CodePen</a>
  </div>

</footer>

  
	<script>
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30102653-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>



  <noscript>
  <div class="noscript-overlay" style="display: block;"></div>
  <div class="modal-message group modal-warning">
    <div class="modal-title">This Site Totally Doesn't Work Without JavaScript.</div>
    <p>Like, at all. Sorry. If you enable it and reload this page you'll be good to go. Need to know how? <a href="http://enable-javascript.com/" target="_blank">Go here.</a></p>
  </div>
</noscript>

  <script>
    __mobile = false;
    __cookieUsed = false;
  </script>

  

  <script src="http://assets.codepen.io/assets/common/everypage-c39cf23b9d8e195ea0f0c39f9ba273ee.js" type="text/javascript"></script>

  

  <script src="http://assets.codepen.io/assets/common/screen-cookie-9e1acf98c71c5b25c0c28e2bde8f25fc.js" type="text/javascript"></script>


<script>
  var cookiesEnabled = navigator.cookieEnabled ? true : false;

  if (cookiesEnabled && (__cookieUsed === false)) {
    location.reload(false);
  }
</script>

</body>

</html>