.cbp-vm-view-grid .long-title.cbp-vm-title {
  font-size: .9em;
  font-weight: bold;
  line-height: 1.3em;
}
.sb-search {
  position: relative;
  margin-top: 10px;
  width: 0%;
  min-width: 60px;
  height: 60px;
  float: none;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}
.sb-search-open input[type="search"].sb-search-input {
  border: 1px solid #0E73B9;
}

.sb-search-input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 100%;
  height: 60px;
  margin: 0;
  z-index: 10;
  padding: 20px 65px 20px 20px;
  font-family: inherit;
  font-size: 20px;
  color: #0E73B9;
}

input[type="search"].sb-search-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.sb-search-input::-webkit-input-placeholder {
  color: #efb480;
}

.sb-search-input:-moz-placeholder {
  color: #efb480;
}

.sb-search-input::-moz-placeholder {
  color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
  color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.sb-search-submit {
  background: #fff; /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.sb-icon-search {
  color: #fff;
  background: #0E73B9;
  z-index: 90;
  font-size: 22px;
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
  content: "\f002";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 51%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #0E73B9;
  color: #fff;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}
/* end search
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?pvm5gj');
  src:url('../fonts/icomoon/icomoon.eot?#iefixpvm5gj') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff?pvm5gj') format('woff'),
    url('../fonts/icomoon/icomoon.ttf?pvm5gj') format('truetype'),
    url('../fonts/icomoon/icomoon.svg?pvm5gj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
} /* Icons created with icomoon.io/app */

.tabs {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 1em 0 2em;
  font-weight: 300;
}

/* Nav */
.tabs nav {
  text-align: center;
}

.tabs nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.tabs nav ul li {
  border: 1px solid #becbd2;
  border-bottom: none;
  margin: 0 0.25em;
  display: block;
  float: left;
  position: relative;
}

.tabs nav li.tab-current {
  border: 1px solid #0E73B9;
  box-shadow: inset 0 2px #0E73B9;
  border-bottom: none;
  z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
  content: '';
  position: absolute;
  height: 1px;
  right: 100%;
  bottom: 0;
  width: 1000px;
  background: #0E73B9;
}

.tabs nav li.tab-current:after {
  right: auto;
  left: 100%;
  width: 4000px;
}

.tabs nav a {
  color: #becbd2;
  display: block;
  font-size: 1.45em;
  line-height: 2.5;
  padding: 0 1.25em;
  /* white-space: nowrap; */

}
.tabs nav a span {
  letter-spacing: -1px;
}

.tabs nav a:hover {
  color: #768e9d;
  text-decoration: none;
}

.tabs nav li.tab-current a {
  color: #0E73B9;
}

/* Icons */
.tabs nav a:before {
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  font-variant: normal;
  font-family: 'icomoon';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  margin: -0.25em 0.4em 0 0;
}

.icon-food:before {
  content: "\e600";
}

.icon-lab:before {
  content: "\e601";
}

.icon-cup:before {
  content: "\e602";
}

.icon-truck:before {
  content: "\e603";
}

.icon-shop:before {
  content: "\e604";
}

/* Content */
.content section {
  font-size: 1.25em;
  padding: 3em 0em;
  padding-top: 1em;
  display: none;
  max-width: 100%;
  margin: 0 auto;
}

.content section:before,
.content section:after {
  content: '';
  display: table;
}

.content section:after {
  clear: both;
}

/* Fallback example */
.no-js .content section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid #0E73B9;
}

.content section.content-current {
  display: block;
}

.mediabox {
  float: left;
  width: 33%;
  padding: 0 25px;
}

.mediabox img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.mediabox h3 {
  margin: 0.75em 0 0.5em;
}

.mediabox p {
  padding: 0 0 1em 0;
  margin: 0;
  line-height: 1.3;
}

/* Example media queries */

@media screen and (max-width: 52.375em) {
  .tabs nav a span {
    display: none;
  }

  .tabs nav a:before {
    margin-right: 0;
  }

  .mediabox {
    float: none;
    width: auto;
    padding: 0 0 35px 0;
    font-size: 90%;
  }

  .mediabox img {
    float: left;
    margin: 0 25px 10px 0;
    max-width: 40%;
  }

  .mediabox h3 {
    margin-top: 0;
  }

  .mediabox p {
    margin-left: 40%;
    margin-left: calc(40% + 25px);
  }

  .mediabox:before,
  .mediabox:after {
    content: '';
    display: table;
  }

  .mediabox:after {
    clear: both;
  }
}

@media screen and (max-width: 32em) {
  .tabs nav ul,
  .tabs nav ul li a {
    width: 100%;
    padding: 0;
  }

  .tabs nav ul li {
    width: 20%;
    width: calc(20% + 1px);
    margin: 0 0 0 -1px;
  }

  .tabs nav ul li:last-child {
    border-right: none;
  }

  .mediabox {
    text-align: center;
  }

  .mediabox img {
    float: none;
    margin: 0 auto;
    max-width: 100%;
  }

  .mediabox h3 {
    margin: 1.25em 0 1em;
  }

  .mediabox p {
    margin: 0;
  }
}


  /* Main container */
  .cbp-vm-switcher {
      padding: 20px;

      border-top: 0px;
      border-right: 0px;
      border-bottom: 0px;
      padding-top: 0px;
  }

  /* options/select wrapper with switch anchors */
  .cbp-vm-options {
      text-align: right;
      padding-bottom: 10px;
      border-bottom: 3px solid #0E73B9;
  }

  .cbp-vm-options a {
      display: inline-block;
      width: 40px;
      height: 40px;
      overflow: hidden;
      white-space: nowrap;
      color: #d0d0d0;
      margin: 2px;
  }

  .cbp-vm-options a:hover,
  .cbp-vm-options a.cbp-vm-selected {
      color: #0E73B9;
  }

  .cbp-vm-options a:before {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 30px;
      text-align: center;
      display: inline-block;
  }

  /* General style of switch items' list */

  .cbp-vm-switcher ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  /* Clear eventual floats */
  .cbp-vm-switcher ul:before,
  .cbp-vm-switcher ul:after {
      content: " ";
      display: table;
  }

  .cbp-vm-switcher ul:after {
      clear: both;
  }

  .cbp-vm-switcher ul li {
      display: block;
      position: relative;
  }

  .cbp-vm-image {
      display: block;
      margin: 0 auto;
  }

  .cbp-vm-image img {
      display: inline-block;
      max-width: 100%;
  }
  .area-desc {
    display: inline-block;
    width: 100%;
  }
  .cbp-vm-options span {

    font-size: 18px;
    vertical-align: top;
    padding-top: 10px;
    margin-right: 5px;
    display: inline-block
  }
  .cbp-vm-image img {
    border: 1px solid rgb(219, 219, 219);
  }

  .cbp-vm-title {
      margin: 0;
      padding: 0;
      line-height: 1em;
      padding-top: 10px;
      padding-bottom: 10px;

  }

  .cbp-vm-title a {
    color: #333;
  }
  .cbp-vm-price {
      color: #c0c0c0;
  }

  .cbp-vm-add {
      color: #fff;
      background: #0E73B9;
      padding: 10px 20px;
      border-radius: 2px;
      margin: 20px 0 0;
      display: inline-block;
      transition: background 0.2s;
  }

  .cbp-vm-add:hover {
      color: #fff;
      background: #02639d;
  }

  .cbp-vm-add:before {
      margin-right: 5px;
  }

  /* Common icon styles */
  .cbp-vm-icon:before {
      font-family: 'FontAwesome';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
  }

  .cbp-vm-grid:before {
      content: "\f00a";
  }

  .cbp-vm-list:before {
      content: "\f00b";
  }

  .cbp-vm-add:before {
      content: "\f055";
  }
  #cbp-vm a, #cbp-vm a:hover {
    text-decoration: none;
  }
  /* Individual view mode styles */

  /* Large grid view */
  .cbp-vm-view-grid ul {
      text-align: center;
  }

  .cbp-vm-view-grid ul li {
      width: 24%;
      text-align: center;
      padding: 25px;
      margin: 20px 0 0;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0px;
      padding-bottom: 0px;
      margin-top: 10px;
  }

  .cbp-vm-view-grid .cbp-vm-title {
      font-size: 1em;
          line-height: 1.3em;
          margin-top: 5px;
          margin-top: 10px;
          padding-top: 5px;
          margin-bottom: 0px;
          padding-bottom: 0px;
  }

  .cbp-vm-view-grid .cbp-vm-details {
      max-width: 300px;
      margin: 0 auto;
      font-size: .95em !important;
  }

  .cbp-vm-view-grid .cbp-vm-price {
      margin: 10px 0;
      font-size: 1.5em;
  }


  /* List view */
  .cbp-vm-view-list li {
      padding: 15px 0;
      white-space: nowrap;
  }

  .cbp-vm-view-list .cbp-vm-image,
  .cbp-vm-view-list .cbp-vm-title,
  .cbp-vm-view-list .cbp-vm-details,
  .cbp-vm-view-list .cbp-vm-price,
  .cbp-vm-view-list .cbp-vm-add {
      display: inline-block;
      vertical-align: middle;
  }

  .cbp-vm-view-list .cbp-vm-image {
      width: 20%;
  }

  .cbp-vm-view-list .cbp-vm-title {
      font-size: 1.3em;
      padding: 0 10px;
      padding-left: 0px;
      white-space: normal;
      width: 100%;
      text-align: left;
  }

  .cbp-vm-view-list .cbp-vm-price {
      font-size: 1.3em;
      width: 10%;
  }
  .details-text {
    font-size: 17px;
  }
  .cbp-vm-view-list .details-text {

    max-width: 92%;
    display: inline-block;}
  .cbp-vm-view-list .cbp-vm-details {
     width: 60%;
     font-size: 18px;
     padding: 0 20px;
     padding-left: 35px;
     overflow: hidden;
     white-space: normal;
  }

  .cbp-vm-view-list .cbp-vm-add {
      margin: 0;
  }
  .post {
    border: 3px solid #0E73B9;
    border-right: 0px;
    border-left: 0px;
  }
  .sidebar {
    width:24%;
    vertical-align: top;
    display: inline-block;
    padding-left: 40px;


  }
  .store-container {
    width: 90%;
    vertical-align: top;
    display: block;
    margin: auto;
  }
  @media screen and (max-width: 66.7em) {
      .cbp-vm-view-list .cbp-vm-details  {
          width: 30%;
      }
      .store-container {
      width: 100%;}
      .cbp-vm-switcher {
        border: none;
      }
  }

  @media screen and (max-width: 57em) {
      .cbp-vm-view-grid ul li {
          width: 49%;
      }
      .sidebar{
        display: none;
      }
      .sb-search {
          display: none;
      }
  }

  @media screen and (max-width: 47.375em) {
      .cbp-vm-view-list .cbp-vm-image {
          width: 20%;
      }

      .cbp-vm-view-list .cbp-vm-title {
          width: auto;
      }

      .cbp-vm-view-list .cbp-vm-details  {
          display: block;
          width: 100%;
          margin: 10px 0;
      }

      .cbp-vm-view-list .cbp-vm-add  {
          margin: 10px;
      }
  }

  @media screen and (max-width: 40.125em) {
      .cbp-vm-view-grid ul li {
          width: 100%;
      }
  }
  .cbp-vm-price, .cbp-vm-view-list .cbp-vm-price {
    display: none;
  }
  @font-face {
    font-family: 'icomoon';
    src:url('/wp-content/themes/inboundnow/fonts/icomoon.eot?o2ibgk');
    src:url('/wp-content/themes/inboundnow/fonts/icomoon.eot?#iefixo2ibgk') format('embedded-opentype'),
      url('/wp-content/themes/inboundnow/fonts/icomoon.woff?o2ibgk') format('woff'),
      url('/wp-content/themes/inboundnow/fonts/icomoon.ttf?o2ibgk') format('truetype'),
      url('/wp-content/themes/inboundnow/fonts/icomoon.svg?o2ibgk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-article:before {
    content: "\e600";
  }
  .icon-th:before {
    content: "\f00a";
  }
  .icon-th-list:before {
    content: "\f00b";
  }
  .icon-power-off:before {
    content: "\f011";
  }
  .icon-user:before {
    content: "\e601";
  }
  .icon-stats:before {
    content: "\e602";
  }
  .icon-eye:before {
    content: "\e603";
  }
  .icon-arrow-right:before {
    content: "\e604";
  }
  .tabs nav a.fa:before {
    font-family: 'FontAwesome';
  }


  .cbp-vm-view-grid ul li:hover .details-text {
    opacity: 1;
  }
  .cbp-vm-view-grid .cbp-vm-details {
    position: relative;
  }
  .cbp-vm-view-grid .details-text {
      font-size: 15px;
        /* height: 100px; */
        width: 100%;
        /* display: block; */
        opacity: 0;
        color: #eee;
        background-color: rgba(0,0,0,.8);
        padding: 15px 10px;
        position: absolute;
        top: -90px;
        left: 0px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.1s !important;
        -moz-transition: opacity 0.1s !important;
        transition:  opacity 0.1s  !important;
        text-align: center;
        z-index: 9999999994;
        line-height: 1.3em;
  }
  .cbp-vm-view-grid .cbp-vm-add {
    margin-top: 5px;
    display: none;
  }