@import url('fonts.css');

* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 18px;
    line-height: 24px;
    font-family: 'SegoeUI', arial, sans-serif;
    color: #314b7b;
    min-width: 980px;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

em { font-style: normal; font-family: 'SegoeUI-Italic'; }

input, textarea, select { font-size: 18px; font-family: 'SegoeUI', arial, sans-serif; }
textarea { overflow: auto; }
select { background:none repeat scroll 0 0 transparent; border: 0;   font-family: 'SegoeUI'; font-size: 14px; line-height: 24px; width: 367px; -webkit-appearance: menulist; margin: 0 5px 0 4px; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

h2 { font-family: 'SegoeUI-Bold'; font-size: 30px; line-height: 36px; color: #314b7b; text-align:center; font-weight: normal; }
h2 span { font-size: 36px; display: block; padding-bottom: 2px; }

.shell { width: 960px; margin: 0 auto; }

#logo { width: 289px; margin: 0 auto; font-size: 0; line-height: 0; padding-bottom: 14px; }
#logo a { display: block; width: 289px; height: 62px; background: url(images/logo.png) no-repeat 0 0; text-indent: -4000px;  }

#sidebar { display: inline; float: left; width: 503px;  padding-top: 32px;  }
#sidebar h2 { width: 380px; margin: 0 auto; margin-top: 30px; }

#content { display: inline; float: right; padding: 27px 13px 0 11px; width: 415px; border-right: 1px solid rgb(218, 218, 218); border-left: 1px solid rgb(218, 218, 218);}
#content h2 { color: #010101; text-shadow: 0 1px #fff; padding-right: 6px; letter-spacing: -1px; }
#content h2.pull-up { position: relative; margin-top: -6px; padding-bottom: 17px; }
#content p.intro-text { width: 372px; margin: 0 auto; text-align:center; padding: 0 0 9px 24px; }
#content p.inspired { font-size: 15px; text-align:center; color: #8f8f8f; text-shadow: 1px 2px 1px #f6f6f6 }
#content p.inspired a { color: #8f8f8f; text-decoration: underline; }
#content p.inspired a:hover { text-decoration: none; }

.steps { padding-bottom: 29px; }
.steps p { font-size: 20px; line-height: 30px; color: #010101; width: auto; text-align:center; }
.steps form label { display: block; padding-bottom: 23px; }

.steps form p a { color: #015978; text-decoration: underline; }
.steps form p a:hover { text-decoration: none; }
.steps form .select-holder { margin-top: 7px; padding: 13px 19px 20px 13px; background: #fff; }
.steps .select-wrap { width: 375px; border: solid 1px #707070; padding: 2px 0 4px 0; margin-left: 1px; }
.steps .submit-button { display: block;  width: 346px; height: 73px; margin: 16px auto 0; background: url(images/submit-button.png) no-repeat 0 0; border: 0; }
.steps .submit-button { font-family: 'SegoeUI-Bold'; font-size: 30px; color: #212121; cursor: pointer; text-shadow: 0 1px #faf562; letter-spacing: -1px; }
.steps .submit-button:hover { background-position: 0 -73px; }
.steps .send { display: block;  width: 346px; height: 73px; margin: 16px auto 0; background: url(images/send.png) no-repeat 0 0; border: 0;}
.steps .send { font-family: 'SegoeUI-Bold'; font-size: 30px; color: #212121; cursor: pointer; text-shadow: 0 1px #faf562; letter-spacing: -1px; }
.steps .send:hover { background-position: 0 -73px; }
.steps .field { margin: 25px 0 17px 6px; padding: 10px 20px 11px; line-height: 28px; width: 366px; box-shadow: inset 3px 5px 3px 3px #f5f5f5; background: #fff; border: solid 1px #d7d7d7; }

.step-2 { display: none; }

.contest-ends { padding-top: 16px; }
.contest-ends p { font-size: 20px; line-height: 24px; color: #8f8f8f; text-shadow: 0 1px #fff; text-align:center; } 
.contest-ends p span { display: block; line-height: 18px; font-size: 15px; }

body.type-2 { background: #e1e1e1 url(images/body2.png) repeat-x 0 0; }
body.type-2 #wrapper { background: url(images/wrapper.jpg) no-repeat center 0; }
body.type-2 #logo { width: 365px; }
body.type-2 #logo a { width: 365px; height: 62px; background: url(images/logo2.png) no-repeat 0 0; }
body.type-2 .steps p { color: #fff; }
body.type-2 #sidebar h2 { margin-top: 10px; width: auto; color: #2e0035; }
body.type-2 #content p.intro-text { font-family: 'MuseoSlab-500'; font-size: 24px; line-height: 30px; width: auto; padding: 2px 0 16px 0; color: #2e0035; }
body.type-2 .select-holder { margin-left: 2px; }
body.type-2 .select-holder label { padding-bottom: 13px; }
body.type-2 .submit-button { margin-top: 23px; }

/*body.type-3 { background: #fff url(images/body3.png) repeat-y center 0; } */
body.type-3 .shell { width: 874px; }
body.type-3 #logo { padding-bottom: 19px; }
body.type-3 #sidebar { padding-top: 29px; width: 354px; }
body.type-3 #sidebar h2 { padding: 0 0 42px 0; margin-top: 9px; width: 280px; }
body.type-3 #content { width: 493px; }
body.type-3 #content h2.pull-up { padding-bottom: 22px; }
body.type-3 #content p.intro-text { padding: 0 0 27px 10px; width: 433px; }
body.type-3 .steps p { letter-spacing: 1px; }
body.type-3 .select-holder { margin: 16px 30px 0 35px; padding:  13px 19px 20px 18px; }
body.type-3 .submit-button { margin-top: 29px; }
body.type-3 .contest-ends { padding-top: 12px; }
body.type-3 .field { margin: 20px 0 17px 47px; }
body.type-3 #sidebar p { font-size: 12px; line-height: 18px; color: #666666; text-align:center; padding-right: 14px; padding-left: 14px; }
body.type-3 #sidebar p a { color: #666; text-decoration: underline; }
body.type-3 #sidebar p a:hover { text-decoration: none; }