#wpbody-content {
	background-color:#fff;
}

#wpwrap, #wpcontent {
	background-color:#fff;
}

.wrap {
	margin-top:0px;
	padding:0px;
}

.inbound-setting .hidden {
	display:none;
}


/* search */
.templates-filter-group {
	text-align:left;
	width:100%;
}

.filter-search {
	text-align:left;
	width: 215px;
	  margin-top: -20px;
	  margin-bottom: 15px;
}

/* Settings Rows */
.inbound-settings-group {
	padding: 20px 20px 20px 20px ;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	background: #eee;
	margin-bottom:20px;
	display:block;
	width:100%;
}

.inbound-settings-group:nth-child(odd) {
	background: #ddd;
	color: #000;
}

/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Oswald);


/* License Key */

.license-key {
  margin:auto;
  font-family: 'Oswald', sans-serif;
  width:100%;

}
.all-30, .all-20, .all-25 {
	margin-right: 10px;
}
.license-key label{
  font-size: 20px;
  height:100px;
  left: 0;
  width:100%;
  margin-right: 20px;
  color: #000;
  margin-bottom: 10px;
  z-index:-1;
  transition-duration: 0.2s;
  transition-property: transform;
}
.ink-button.blue {
	width: 100%;
	margin-top: 20px;
}
.license-key  input{
  border:none;
  padding: 10px;
  border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 2px rgba(30,140,190,.8);
	box-shadow: 0 0 2px rgba(30,140,190,.8);
  color: #000;
  background:#fff;
  outline:none;
  font-family:'Oswald', sans-serif;
  width:50%;
  transition-property: transform;
  font-size:16px

}

.license-key .invalid {
	border-style: solid;
    border-width: 2px;
	border-color:  #b94a48 !important;
}

.invalid-icon {
	margin-left:20px;
	color:#b94a48 !important;
}

.valid-icon {
	margin-left:20px;
	color: green;
}

.license-key:after{
  content: "";
  box-shadow: inset 8px -8px 0 rgba(255, 255, 255, 1), -3px 4px 0 rgba(0, 0, 0, 0.26);
  position:absolute;
 top:0px;
  right: 0px;
  height: 28px;
  transition-duration: 0.1s;
  transition-property: transform;
  transform: rotate(-45deg) scale(0.6);
  width: 60px;
  float:right;
  display:block;

}

.license-key .valid {
	border-style: solid;
    border-width: 2px;
	border-color: #AAD661 !important;
}

.license-key  input:focus label{
  transform:translateY(-45px) translateX(-80px) scale(0.6);
}

.license-key input:valid + label {
  transform:translateY(-45px) translateX(-80px) scale(0.6);
}
.license-key  input:valid + label::after{
  display:block;
  transform:translateX(-10px) rotate(-45deg)
}
.license-key  input:invalid + label::after{
  transform:translateX(100px) rotate(-45deg)
}

/* Field Styles */
.inbound-field div {
	display:inline-block;
}
.inbound-field {
	margin-bottom: 10px;
}

.inbound-label-field {
	min-width:170px;
}

.inbound-ol-field {
	margin-top:-6px;
}

.inbound-ol-field ol {
	list-style:disc !important;
}

.inbound-ul-field ul {
	list-style:disc !important;
}

.ink-button {
	margin-bottom:10px;
}

/* Footer */

.footer-left {
	vertical-align:top;
	width:40%;
	padding-right:40px;
}

.footer-right {
	vertical-align:top;
	width:60%;

}
.footer-right-h2 {
	//padding-left:27px;
	padding-bottom:10px;

}

.pro-footer {
	text-align:right;
}

/* sidebar */
.sidebar-h6 {
	color: #a9a9a9;
}

/**
*
* Leads Field Mapping & IP Address Repeaters
*
*/

.field-map input ,.field-map select , .map-row-addnew input , .map-row-addnew select, .ip-address-row input  , .ip-address-row-addnew input   {
	width:100%;
	height:40px;
	padding-left:5px;
}

.map-row-headers {
	margin-left:18px;
	margin-top:10px;
	font-weight:600;
	border-bottom: #ddd solid 2px;
}

.license-key {
	position: relative;
}
.map-row {
	border-bottom: #ddd solid 1px;
	padding-top:5px;
	padding-bottom:5px;
}

.map-row-addnew  {
	margin-left:18px;
}


.map-handle {
	vertical-align: center;
	margin-top:3px;
}

.drag-handle  {
	color: #919191;
	cursor: move;
	margin-top: 10px;
	margin-left: 13px;
	display: block;
}

.map-actions, .ip-address-actions {
	text-align:right;
}

.field-ip-addresses {
	margin-left:0px;
	padding-left:0px;
}