/* This stylesheet is used to style the admin option form of the plugin. */

section{
  margin: 1em 0;
  border: 1px solid #cccccc;
}

section div{
  box-sizing: border-box;
}

.section_title{
  width: 100%;
  padding: 1em;
  background: #eeeeee;
  font-size: 1.5em;
  cursor: pointer;
}

.section_content{
  padding: 1em;
  border-top: 1px solid #cccccc;
  display:none;
}

.section_content.active{
  display:block;
}

li li{
  margin-top: 0.5em;
}

#url_text{
	min-width: 400px;
	margin: 10px 0;
	text-overflow: ellipsis;
}

.mini-button {
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid rgba(222,222,222,.75);
	line-height: 25px;
	padding: 0 5px;
	font-size: 13px;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	white-space: nowrap;
	background-color: #eeeeee;
	background-image: -moz-linear-gradient(#fcfcfc, #eee);
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);
	background-repeat: repeat-x;
	position: relative;
	top: -1px;
	left: -1px;
	cursor: pointer;
}

.mini-button:active, .mini-button.selected, .mini-button.selected:hover, .mini-button.zeroclipboard-is-active {
	background-color: #dcdcdc;
	background-image: none;
	border-color: #b5b5b5;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}

.instagram{
	background: #517fa4;
	background: -moz-linear-gradient(top, #517fa4 0%, #306088 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#517fa4), color-stop(100%,#306088));
	background: -webkit-linear-gradient(top, #517fa4 0%,#306088 100%);
	background: -o-linear-gradient(top, #517fa4 0%,#306088 100%);
	background: -ms-linear-gradient(top, #517fa4 0%,#306088 100%);
	background: linear-gradient(to bottom, #517fa4 0%,#306088 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#517fa4', endColorstr='#306088',GradientType=0 );
	color: white;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

/* User Search Results */
#search_results{
	overflow: hidden;
	padding-top: 10px;
}

.si_sr{
	display:block;
	width: 20%;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
	float: left;
}

.si_sr_user_image{
	width: 100%;
}

.si_sr_user_image img{
	max-width: 100%;
}

.si_sr_user_info{
	width: 100%;
}

.si_sr_user_info div{
	width: 100%;
}

@media screen and (max-width: 717px){
	.si_sr{
		width: 33%;
	}
}
