* {
		margin: 0;
		padding: 0;
		}
		body {
		overflow-x: hidden;
		font-family: sans-serif;
		}	
		
		#heading-wrap {width:940px; margin: auto; text-align: center; margin-top:40px;}
		#page-wrap { width: 560px; margin: 15px auto; padding: 20px; background: white; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
		#form-wrap{width: 420px; margin: auto;}
		p { margin: 0px; text-indent: 0px;
		}


		/* Landing page form styles */
		input[type="text"], input[type="email"] {
		width: 100%;
		padding: 8px 4px 8px 10px;
		margin-bottom: 15px;
		border: 1px solid #4E3043;
		border: 1px solid rgba(78, 48, 67, 0.8);
		background: rgba(0, 0, 0, 0.15);
		border-radius: 2px;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		font-family: 'Raleway', 'Lato', Arial, sans-serif;
		color: white;
		font-size: 13px;
		}
		input[type="submit"] {
		width: 100%;
		padding: 8px 5px;
		background: #634056;
		background: -moz-linear-gradient(rgba(91,170,30, 0.8), rgba(91,170,30, 1));
		background: -ms-linear-gradient(rgba(91,170,30, 0.8), rgba(91,170,30, 1));
		background: -o-linear-gradient(rgba(91,170,30, 0.8), rgba(91,170,30, 1));
		background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(91,170,30, 0.5)), to(rgba(91,170,30, 1)));
		background: -webkit-linear-gradient(rgba(91,170,30, 0.8), rgba(91,170,30, 1));
		background: linear-gradient(rgba(91,170,30, 0.8), rgba(91,170,30, 1));
		border-radius: 5px;
		border: 1px solid #4E3043;
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 2px 1px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		color: white;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
		font-size: 22px;
		font-weight: bold;
		font-family: 'Raleway', 'Lato', Arial, sans-serif;
		}

		/* custom css */
		p, .lp-span, label {font-size: 17px;}
		.lp-span {text-transform: none; display: block; margin-bottom: 8px;}
		.lp-input-label .lp-span {
		display: inline;
		color:red;
		}
