[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    font-size: 14px;
    line-height: 1;
}

* {
    box-sizing: border-box;
}

.preload * {
    transition: none !important;
}

html {
    min-height: 100%;
    height: 100%;
}

body,
.wrapper{
    height: 100%;
    overflow: hidden;

}

h1, h2, h3 {
    font-family: "Merriweather Sans", arial, sans-serif;
    font-weight: 700;
    letter-spacing: -.05em;
}

.main, .sidebar {
    position: relative;
    padding: 2em;
    float: left;
}

.main {
    position: relative;
    height: 100%;
    bottom: 0;
    top: 0;
    width: 50%;
    background: #f3f1ef;
    margin-left: 25%;
    font-weight: 300;

}

.sidebar {
    position: relative;
    height: 100%;
    width: 25%;
    background: #a39485;
    color: #fff;
    font-weight: 300;
}

.sidebar.left {
    margin-left: -75%;
}

.sidebar.right {
    float: right;
}

.btn {
    position: absolute;
  display: none;
    top: .5em;
    padding: 1em 1em 1em 1.2em;
    width: auto;
    line-height: 1;
    text-decoration: none;
    color: #004f97;
}

.btn span {
    display: block;
    position: absolute;
    left: .1em;
    top: 5px;
    font-size: 2.5em;
    line-height: .5;
}

.btn.right span {
    left: auto;
    right: 0;
}

.btn.left {
    left: 1.5em;
}

.btn.right {
    right: 1.5em;
    padding-right: 1.2em;
    padding-left: 1em;
}

@media all and (max-width: 750px) {

    .main, .sidebar {
        padding: 3.5em 2em;
    }

    .btn {
        display: block;
    }

    .main {
        position: relative;
        width: 100%;
        float: none;
        right: 0;
        margin: 0;
        transition: .5s left ease, .5s right ease;
        box-shadow: 0 0 10px rgba(0,0,0,.5) ;
        z-index: 5 ;
    }

    .right .main, .right .sidebar.left {
        right: 16em;
        left: auto;
    }

    .left .main, .left .sidebar.right {
        left: 16em;
        right: auto;
    }

    .sidebar{
        position: absolute;
        float: none;
        width: 16em;
        height: 100%;
        margin: 0;
        right: 0;
        top: 0;
        z-index: 1;
        transition:  .5s right ease, .5s left ease;
    }

    .sidebar.left {
        left: 0;
        right: auto;
        margin-left: 0;
    }

}