/* CSS for the Preview */
:root {
    body, body:before {
        background-color: transparent !important;
        background:transparent !important;
        box-shadow: none !important;
        border: none !important;
    }
}