/* CSS for the Customizer Edit */

:root:root:root {
    body.customize-support.landing-page, body.landing-page {
        background-color: transparent !important;
        background-image: none !important;
    }
    body.customize-support.wp-call-to-action , body.wp-call-to-action  {
        background-color: #eee !important;
        background-image: -webkit-linear-gradient(bottom left, rgb(213, 213, 213) 25%, transparent 25%, transparent 75%, rgb(213, 213, 213) 75%, rgb(213, 213, 213)), -webkit-linear-gradient(bottom left, rgb(213, 213, 213) 25%, transparent 25%, transparent 75%, rgb(213, 213, 213) 75%, rgb(213, 213, 213)) !important;
        background-image: -o-linear-gradient(bottom left, rgb(213, 213, 213) 25%, transparent 25%, transparent 75%, rgb(213, 213, 213) 75%, rgb(213, 213, 213)), -o-linear-gradient(bottom left, rgb(213, 213, 213) 25%, transparent 25%, transparent 75%, rgb(213, 213, 213) 75%, rgb(213, 213, 213)) !important;
        background-image: linear-gradient(to top right, rgb(213, 213, 213) 25%, transparent 25%, transparent 75%, rgb(213, 213, 213) 75%, rgb(213, 213, 213)), linear-gradient(to top right, rgb(213, 213, 213) 25%, transparent 25%, transparent 75%, rgb(213, 213, 213) 75%, rgb(213, 213, 213)) !important;
        background-size: 60px 60px !important;
        background-position: 0 0, 30px 30px !important;
    }
    .inbound-loading {
        position: relative;
        height: 100%;
        text-align: center;
        svg {
             position: relative;
             top: 50%;
             transform: translateY(-50%);
           }
    }
    #wpadminbar {
        z-index: 99999999999 !important;
    }
    #wp-admin-bar-customize, #wp-admin-bar-updates, #wp-admin-bar-comments {
        display: none;
    }
    .inbound-customizer-preview {
        max-width: 68%;
        width:100%;
        height:100%;
        left: 32%;
        position: fixed;
        top: 32px;
        z-index: 1;
        border: none;
        overflow:hidden;
    }
    .wp-call-to-action .inbound-customizer-preview {
        top: 10%;
    }
    #inbound-customizer-overlay {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        opacity: .8;
        display: none;
    }
    .wp-cta-load-overlay {
        position: absolute;
        z-index: 9999999999 !important;
        z-index: 999999;
        background-color: #000;
        opacity: 0;
        background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
        background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9)));
        background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
        background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
        background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
        background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
    }

}