/* CSS for Inbound Now in WordPress Admin */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fonts/fontawesome-webfont.eot?v=3.0.2');
    src: url('../fonts/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=3.0.2') format('embedded-opentype'),
    url('../fonts/fontawesome/fonts/fontawesome-webfont.woff?v=3.0.2') format('woff'),
    url('../fonts/fontawesome/fonts/fontawesome-webfont.ttf?v=3.0.2') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root:root:root {
    #wpadminbar.nojs .ab-top-menu > li.menupop.inbound-nav-marketing:hover > .ab-item,
    #wpadminbar .ab-top-menu > li.menupop.inbound-nav-marketing.hover > .ab-item,
    #wpadminbar.nojs .ab-top-menu > li.menupop.inbound-nav-marketing > .ab-item,
    #wpadminbar .ab-top-menu > li.menupop.inbound-nav-marketing > .ab-item, #inboundnow-media-button {
        background-image: url('../images/global/inbound-icon.png');
        background-repeat: no-repeat;
        background-position: 0.15em 50%;
        margin-left: 1px;
        padding-left: 25px;
        background-size: 20px;
    }
    #toplevel_page_inbound-pro {
        .wp-menu-image.dashicons-before img {
            width: 21px;
            padding-top: 6px;
            opacity: .8;

        }
        &:hover, &.wp-menu-open {
            .wp-menu-image.dashicons-before img{
                opacity:1;
            }
        }
    }
    #adminmenu {
        .menu-icon-landing-page div.wp-menu-image:before {
                font-family: "FontAwesome" !important;
                content: "\f15c";
        }
        .menu-icon-automation div.wp-menu-image:before {
            content: "\f111";
            font-family: dashicons;
        }
        .menu-icon-wp-call-to-action div.wp-menu-image:before {
            font-family: "FontAwesome" !important;
            content: "\f05b";
            font: 400 24px/1 "FontAwesome" !important;
            padding-top: 6px;

        }
        .menu-icon-landing-page, .menu-icon-wp-lead{
            div.wp-menu-image img {
                display: none;
            }
        }
        #wp-admin-bar-inbound-cta a:first-child, #wp-admin-bar-inbound-templates .ab-item.ab-empty-item, #wp-admin-bar-inbound-settings .ab-item.ab-empty-item, #wp-admin-bar-inbound-analytics a:first-child {
            padding-left: 30px !important;
        }
        #wp-admin-bar-inbound-leads a:first-child, #wp-admin-bar-inbound-seo a:first-child, #wp-admin-bar-inbound-landingpages a:first-child, #wp-admin-bar-inbound-forms a:first-child {
            padding-left: 31px !important;
        }
        #wp-admin-bar-inbound-templates .ab-item.ab-empty-item:hover, #wp-admin-bar-inbound-settings .ab-item.ab-empty-item:hover {
            color: #2ea2cc;
        }

    }

    #wp-admin-bar-inbound-admin-bar {
        #wp-admin-bar-inbound-admin-bar-default .menupop:hover:before {
            color:#fff;
        }
    }
    #wpwrap #wpadminbar {
        #search-inbound-menu {
            height: 23px !important;
            padding: 0px !important;
            padding-left: 3px !important;
            margin-bottom: 1px !important;
        }
        .inbound-search-input {
            width: 140px;
        }
        .inbound-search-input, .inbound-search-go {
            color: #21759b !important;
            text-shadow: none;
            background-color: #fff;
            height: 18px;
            line-height: 18px;
            padding: 1px 4px;
        }
        .inbound-search-go {
            width: 30px;
            font-size: 14px;
            margin: 0 0 0 2px;
        }
    }

    .inbound-nav-marketing {
        div:first-of-type {
                color: rgba(240, 245, 250, 1);
        }
    }
    .field_type-wysiwyg {
        .inbound-marketing-button.open-marketing-button-popup {
            margin-left:10px;
        }
        #inboundnow-media-button {
            display: inline-block;
            width: 23px;
            height: 19px;
            vertical-align: text-top;
            margin: 0 2px;
            margin-left: -5px;
            margin-right: -5px;
        }
    }
    #setting-error-tgmpa{
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        p {
            text-decoration: bold;
        }
        p:nth-child(2) strong em {
            margin-top: 5px;
        }
        p:nth-last-child(2), a, strong {
            text-decoration: none;
        }
        p:nth-last-child(2) a:first-child{
            padding-left: 0px;
            text-decoration: none;
        }
        p:nth-last-child(2) a {
            padding-right: 10px;
            padding-left: 10px;
            font-size: 13px;
            margin-top: 10px;
            display: inline-block;
        }
        a span {
            color: #000 !important;
            text-decoration: none;
            font-size: 14px !important;
            font-style: normal !important;
            font-weight: normal !important;
        }
        a.thickbox {
            font-size: 16px;
            padding-top: 5px;
            display: inline-block;
            padding-bottom: 5px;
        }
        em {
            display: block;
        }
        em:last-of-type {
            display: inline-block;
        }
        .inbound-and {
                display: block;
              margin-top: 10px;
              font-size: 15px;
        }
    }
    #inboundnow-media-button {
        padding-left: 5px;
    }
    .appearance_page_install-inbound-plugins {
        .inbound-install-notice {
            display: none;
        }
    }
    /* for refacotring  */
    #wp-admin-bar-inbound-cta .ab-submenu a, #wp-admin-bar-inbound-leads .ab-submenu a, #wp-admin-bar-inbound-landingpages .ab-submenu a, #wp-admin-bar-inbound-forms .ab-submenu a, #wp-admin-bar-inbound-templates .ab-submenu a, #wp-admin-bar-inbound-analytics .ab-submenu a, #wp-admin-bar-inbound-seo .ab-submenu a {
        padding-left: 10px !important;
    }
    #wp-admin-bar-inbound-cta:before, #wp-admin-bar-inbound-leads:before, #wp-admin-bar-inbound-landingpages:before, #wp-admin-bar-inbound-forms:before, #wp-admin-bar-inbound-templates:before, #wp-admin-bar-inbound-settings:before, #wp-admin-bar-inbound-analytics:before, #wp-admin-bar-inbound-seo:before {
        font-family: "FontAwesome" !important;
        content: "\f05b" !important;
        font: 100 19px/1 "FontAwesome" !important;
        padding-top: 4px;
        width: 30px;
        display: inline-block;
        height: 30px;
        position: absolute;
        left: 6px;
    }
    #adminmenu .menu-icon-wp-lead div.wp-menu-image:before {
        font-family: "FontAwesome" !important;
        content: "\f0c0";
    }

    #wp-admin-bar-inbound-leads:before {
        content: "\f0c0" !important;
        font: 100 17px/1 "FontAwesome" !important;
    }

    #wp-admin-bar-inbound-landingpages:before {
        content: "\f15c" !important;
        left: 7px;
        font-size: 21px !important;
    }

    #wp-admin-bar-inbound-forms:before {
        font: 400 18px/1 dashicons !important;
        content: "\f163" !important;
    }

    #wp-admin-bar-inbound-templates:before {
        content: "\f0c5" !important;
        font-size: 18px !important;
    }

    #wp-admin-bar-inbound-settings:before {
        content: "\f013" !important;
        left: 7px !important;
    }

    #wp-admin-bar-inbound-analytics:before {
        content: "\f012" !important;
        font-size: 17px !important;
    }

    #wp-admin-bar-inbound-seo:before {
        content: "\f002" !important;
        font-size: 17px !important;
    }
}