$colorfore: #333;
$colorback: #fff;

@define-mixin reset {
    padding: 0;
    margin: 0;
}

.main {
    font-family: Arial;
    @mixin reset;
    color: $colorfore;
    background-color: $colorback;

    article {
        color: $colorback;
        background-color: $colorfore;
        @media only screen and (max-width: 600px) {
            width: 432px !important;
            position: fixed !important;
            height: 484px !important;
        }
    }
}