<div class="theme-overlay download-overlay " data-download='<%= post_name %>' >
	<div class="theme-overlay active">
		<div class="theme-backdrop"></div>
		<div class="theme-wrap">
			<div class="theme-header">
				<button class="left dashicons dashicons-no overlay-previous" data-download='<%= previous_post_name %>' ><span class="screen-reader-text">Previous</span></button>
				<button class="right dashicons dashicons-no overlay-next" data-download='<%= next_post_name %>' ><span class="screen-reader-text">Next</span></button>
				<button class="close dashicons dashicons-no overlay-close" data-download='<%= post_name %>' ><span class="screen-reader-text">Close</span></button>
			</div>
			<div class="theme-about">
				<div class="theme-screenshots" style="width:35%; float:right;">

					<div class="screenshot" style="box-shadow:none;"><img src="<%= featured_image %>" alt=""></div>

				</div>

				<div class="theme-info" style="width: 58%; float:left;">
					<h3 class="theme-name"><%= post_title %></h3>

					<span class="current-label" style='margin-top:10px'><%= status %> <%= current_version %></span>

					<span class="current-label" style='margin-top:10px;background:orange;'>available  <%= server_version %></span>

                    <% if ( current_version && current_version < server_version  ){ %>
                    <span class="current-label" style='margin-top:10px;background:green;'>update available!</span>
                    <% } %>

					<p class="theme-description">
						<%= post_content %>
					</p>

					<p class="theme-tags"><span>Tags</span> Comming soon</p>

				</div>
			</div>

			<div class="theme-actions" style="padding:38px 25px 38px;">
				 <% if ( status == "uninstalled" ){ %>
				<div class="details-install">
					<span  style="font-size:20px;padding: 0 40px 1px;" class="button button-primary overlay-install" data-download='<%= post_name %>' data-filename='<%= filename %>'   data-download-type='<%= download_type %>'>Install</span>
				</div>
				<% } %>

				<% if ( status == "installed" ) { %>
				<div class="details-uninstall">
					<span style="font-size:20px;padding: 0 40px 1px;" class="button button-secondary overlay-uninstall"  data-download='<%= post_name %>' >Uninstall</span>
				</div>
				<% } %>

				<% if ( current_version < server_version && status == "installed" ) { %>
				<div class="details-update">
					<span style="font-size:20px;padding: 0 40px 1px;" class="button button-secondary overlay-update"  data-download='<%= post_name %>' data-filename='<%= filename %>'  data-download-type='<%= download_type %>'>Update</span>
				</div>
				<% } %>

				<% if ( preview ) { %>
				<div class="details-preview">
					<a href="<%=  preview  %>" target="_blank" class="button button-secondary overlay-preview" >Preview</a>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</div>